# BI Analyst Assessment (2023)

In [1]:
import pandas as pd
import matplotlib.pyplot as plt

In [13]:
# load data test
# Define filepath
filepath = 'BI_Analyst_Assessment_Data_2023.xlsx'

# Load Excel file using Pandas
f = pd.ExcelFile(filepath)

# # Define an empty list to store individual DataFrames
# list_of_dfs = []

# # Iterate through each worksheet
# for sheet in f.sheet_names:
#     print(sheet)
#     if sheet == "Data Dictionary":
#         break
#     else:
#         # # Parse data from each worksheet as a Pandas DataFrame
#         df = f.parse(sheet)
#         # And append it to the list
#         list_of_dfs.append(df)
    
# # Combine all DataFrames into one
# data = pd.concat(list_of_dfs, ignore_index=True)

Visit Tbl
Invoice Tbl
Diagnosis Tbl
Data Dictionary

In [18]:
# load each sheet by name
df_visit = pd.read_excel(open('BI_Analyst_Assessment_Data_2023.xlsx', 'rb'),sheet_name='Visit Tbl')  
df_Invoice = pd.read_excel(open('BI_Analyst_Assessment_Data_2023.xlsx', 'rb'),sheet_name='Invoice Tbl')  
df_Diagnosis = pd.read_excel(open('BI_Analyst_Assessment_Data_2023.xlsx', 'rb'),sheet_name='Diagnosis Tbl')

In [19]:
df_visit.head()

,VisitCode,PatientCode,VisitDateTime,MedicalCenter,VisitCategory,Payor,NPS Score
0,XA-1124501,38af25ef-37a9,2022-05-22 08:51:05,Tassia,In-person Visit,Cash,NaN
1,XA-1220993,15ac7a77-8153,2022-09-07 10:56:49,Tassia,In-person Visit,Cash,NaN
2,XA-1079995,173f581e-c323,2022-03-24 17:17:32,Tassia,In-person Visit,Cash,NaN
3,XA-1188078,c464fa34-e7f2,2022-07-27 05:54:02,Tassia,In-person Visit,Cash,NaN
4,XA-1220192,7b8216fe-ff14,2022-09-06 12:28:24,Tassia,In-person Visit,Cash,NaN

In [20]:
df_visit.columns

Index(['VisitCode', 'PatientCode', 'VisitDateTime', 'MedicalCenter',
       'VisitCategory', 'Payor', 'NPS Score'],
      dtype='object')

In [21]:
df_Invoice.head()

    VisitCode  Amount
0  XA-1193961     195
1  XA-1234414     195
2  XA-1250805     195
3  XA-1194042     195
4  XA-1187472     195

In [22]:
df_Diagnosis.head()

    VisitCode                     Diagnosis
0  XA-1214549                acute rhinitis
1  XA-1234446              acute bronchitis
2  XA-1160097               family planning
3  XA-1242842              acute bronchitis
4  XA-1152096  tonsillitis, acute bacterial

## Q1: How many visits did Kimathi Street and Pipeline medical centers' have from May 2022 and September 2022?

In [23]:
df_visit.head()

,VisitCode,PatientCode,VisitDateTime,MedicalCenter,VisitCategory,Payor,NPS Score
0,XA-1124501,38af25ef-37a9,2022-05-22 08:51:05,Tassia,In-person Visit,Cash,NaN
1,XA-1220993,15ac7a77-8153,2022-09-07 10:56:49,Tassia,In-person Visit,Cash,NaN
2,XA-1079995,173f581e-c323,2022-03-24 17:17:32,Tassia,In-person Visit,Cash,NaN
3,XA-1188078,c464fa34-e7f2,2022-07-27 05:54:02,Tassia,In-person Visit,Cash,NaN
4,XA-1220192,7b8216fe-ff14,2022-09-06 12:28:24,Tassia,In-person Visit,Cash,NaN

In [24]:

# Convert VisitDateTime column to datetime type
df_visit['VisitDateTime'] = pd.to_datetime(df_visit['VisitDateTime'])

# Filter visits from May 2022 to September 2022 and for the specified medical centers
start_date = pd.Timestamp('2022-05-01')
end_date = pd.Timestamp('2022-09-30')
medical_centers = ['Kimathi Street', 'Pipeline']

filtered_df = df_visit[
    (df_visit['VisitDateTime'] >= start_date) &
    (df_visit['VisitDateTime'] <= end_date) &
    (df_visit['MedicalCenter'].isin(medical_centers))
]

# Count the number of visits
visit_count = len(filtered_df)

print("Number of visits to Kimathi Street and Pipeline medical centers between May 2022 and September 2022:", visit_count)

Number of visits to Kimathi Street and Pipeline medical centers between May 2022 and September 2022: 8150

# 2. What was the most common diagnosis in 2022 for Tassia and Embakasi branches combined?

In [26]:
df_visit.head()

,VisitCode,PatientCode,VisitDateTime,MedicalCenter,VisitCategory,Payor,NPS Score
0,XA-1124501,38af25ef-37a9,2022-05-22 08:51:05,Tassia,In-person Visit,Cash,NaN
1,XA-1220993,15ac7a77-8153,2022-09-07 10:56:49,Tassia,In-person Visit,Cash,NaN
2,XA-1079995,173f581e-c323,2022-03-24 17:17:32,Tassia,In-person Visit,Cash,NaN
3,XA-1188078,c464fa34-e7f2,2022-07-27 05:54:02,Tassia,In-person Visit,Cash,NaN
4,XA-1220192,7b8216fe-ff14,2022-09-06 12:28:24,Tassia,In-person Visit,Cash,NaN

In [27]:
df_Diagnosis.head()

    VisitCode                     Diagnosis
0  XA-1214549                acute rhinitis
1  XA-1234446              acute bronchitis
2  XA-1160097               family planning
3  XA-1242842              acute bronchitis
4  XA-1152096  tonsillitis, acute bacterial

In [28]:
# Merge the two dataframes based on the VisitCode column
merged_df = pd.merge(df_visit, df_Diagnosis, on="VisitCode")

# Filter the data for the year 2022
merged_df["VisitDateTime"] = pd.to_datetime(merged_df["VisitDateTime"])
merged_df_2022 = merged_df[merged_df["VisitDateTime"].dt.year == 2022]

# Count the occurrences of each diagnosis
diagnosis_counts = merged_df_2022["Diagnosis"].value_counts()

# Get the most common diagnosis
most_common_diagnosis = diagnosis_counts.idxmax()

# Print the result
print("The most common diagnosis in 2022 for Tassia and Embakasi branches combined was:", most_common_diagnosis)

The most common diagnosis in 2022 for Tassia and Embakasi branches combined was: acute nasopharyngitis

# 3. Which payor was the most profitable (in absolute numbers) for Penda Health in 2022? {Assume a gross average margin of 30% per visit.

In [29]:
df_visit.head()

,VisitCode,PatientCode,VisitDateTime,MedicalCenter,VisitCategory,Payor,NPS Score
0,XA-1124501,38af25ef-37a9,2022-05-22 08:51:05,Tassia,In-person Visit,Cash,NaN
1,XA-1220993,15ac7a77-8153,2022-09-07 10:56:49,Tassia,In-person Visit,Cash,NaN
2,XA-1079995,173f581e-c323,2022-03-24 17:17:32,Tassia,In-person Visit,Cash,NaN
3,XA-1188078,c464fa34-e7f2,2022-07-27 05:54:02,Tassia,In-person Visit,Cash,NaN
4,XA-1220192,7b8216fe-ff14,2022-09-06 12:28:24,Tassia,In-person Visit,Cash,NaN

In [30]:
df_Invoice.head()

    VisitCode  Amount
0  XA-1193961     195
1  XA-1234414     195
2  XA-1250805     195
3  XA-1194042     195
4  XA-1187472     195

In [32]:
df_visit['Payor'].unique()

array(['Cash', 'Insurance Company B', 'Insurance Company A'], dtype=object)

In [53]:
# Merge the two dataframes
df_profit = df_visit.merge(df_Invoice, on='VisitCode')

# Calculate the gross profit per visit
df_profit['GrossProfit'] = df_profit['Amount'] * 0.3

# Calculate the total gross profit for each payor
payor_profit = df_profit.groupby('Payor')['GrossProfit'].sum()

# Print the payor with the highest total gross profit
print("The payor with the highest total gross profit:",payor_profit.sort_values(ascending=False).index[0])

The payor with the highest total gross profit: Cash

# 4. Which medical center was the least profitable  (in absolute numbers)  in 2022?  {Assume a gross average margin of 30% per visit}.

In [54]:
df_visit.head()

,VisitCode,PatientCode,VisitDateTime,MedicalCenter,VisitCategory,Payor,NPS Score,VisitYear,VisitMonth,DaysSincePriorVisit
0,XA-1124501,38af25ef-37a9,2022-05-22 08:51:05,Tassia,In-person Visit,Cash,NaN,2022,5,NaN
1,XA-1220993,15ac7a77-8153,2022-09-07 10:56:49,Tassia,In-person Visit,Cash,NaN,2022,9,108.0
2,XA-1079995,173f581e-c323,2022-03-24 17:17:32,Tassia,In-person Visit,Cash,NaN,2022,3,-167.0
3,XA-1188078,c464fa34-e7f2,2022-07-27 05:54:02,Tassia,In-person Visit,Cash,NaN,2022,7,124.0
4,XA-1220192,7b8216fe-ff14,2022-09-06 12:28:24,Tassia,In-person Visit,Cash,NaN,2022,9,41.0

In [55]:
df_Invoice.head()

    VisitCode  Amount
0  XA-1193961     195
1  XA-1234414     195
2  XA-1250805     195
3  XA-1194042     195
4  XA-1187472     195

In [58]:
# Merge the two dataframes
df_merged = df_visit.merge(df_Invoice, on='VisitCode')

# Calculate the gross profit per visit
df_merged['GrossProfit'] = df_merged['Amount'] * 0.3

# Calculate the total gross profit for each medical center
df_merged = df_merged.groupby('MedicalCenter')['GrossProfit'].sum()

# Find the medical center with the lowest total gross profit
least_profitable_medical_center = df_merged.sort_values().index[0]

print(f"The least profitable medical center in 2022 was: {least_profitable_medical_center}")

The least profitable medical center in 2022 was: Call Centre

# 5. What was the average spend per visit for visits that had a diagnosis of acute gastritis?

In [34]:
df_visit.head()

,VisitCode,PatientCode,VisitDateTime,MedicalCenter,VisitCategory,Payor,NPS Score
0,XA-1124501,38af25ef-37a9,2022-05-22 08:51:05,Tassia,In-person Visit,Cash,NaN
1,XA-1220993,15ac7a77-8153,2022-09-07 10:56:49,Tassia,In-person Visit,Cash,NaN
2,XA-1079995,173f581e-c323,2022-03-24 17:17:32,Tassia,In-person Visit,Cash,NaN
3,XA-1188078,c464fa34-e7f2,2022-07-27 05:54:02,Tassia,In-person Visit,Cash,NaN
4,XA-1220192,7b8216fe-ff14,2022-09-06 12:28:24,Tassia,In-person Visit,Cash,NaN

In [35]:
df_Diagnosis.head()

    VisitCode                     Diagnosis
0  XA-1214549                acute rhinitis
1  XA-1234446              acute bronchitis
2  XA-1160097               family planning
3  XA-1242842              acute bronchitis
4  XA-1152096  tonsillitis, acute bacterial

In [36]:
df_Invoice.head()

    VisitCode  Amount
0  XA-1193961     195
1  XA-1234414     195
2  XA-1250805     195
3  XA-1194042     195
4  XA-1187472     195

In [59]:
# Merge the dataframes
merged_df = pd.merge(df_visit, df_Diagnosis, on='VisitCode')
merged_df = pd.merge(merged_df, df_Invoice, on='VisitCode')

# Filter visits with a diagnosis of acute gastritis
acute_gastritis_visits = merged_df[merged_df['Diagnosis'] == 'acute gastritis']

# Calculate the average spend per visit
average_spend_per_visit = acute_gastritis_visits['Amount'].mean()

# Print the result
print("Average spend per visit for acute gastritis(assuming ksh): ksh", average_spend_per_visit)

Average spend per visit for acute gastritis(assuming ksh): ksh 2778.313685289595

# 6. At Penda Health, we have a blended healthcare model where patients can get treatment physically (by visiting a medical centers) or virtually (through our call center). In 2022, how many unique patients experienced a blended healthcare approach in their healthcare journey?

In [38]:
df_visit.head()

,VisitCode,PatientCode,VisitDateTime,MedicalCenter,VisitCategory,Payor,NPS Score
0,XA-1124501,38af25ef-37a9,2022-05-22 08:51:05,Tassia,In-person Visit,Cash,NaN
1,XA-1220993,15ac7a77-8153,2022-09-07 10:56:49,Tassia,In-person Visit,Cash,NaN
2,XA-1079995,173f581e-c323,2022-03-24 17:17:32,Tassia,In-person Visit,Cash,NaN
3,XA-1188078,c464fa34-e7f2,2022-07-27 05:54:02,Tassia,In-person Visit,Cash,NaN
4,XA-1220192,7b8216fe-ff14,2022-09-06 12:28:24,Tassia,In-person Visit,Cash,NaN

In [39]:
df_Diagnosis.head()

    VisitCode                     Diagnosis
0  XA-1214549                acute rhinitis
1  XA-1234446              acute bronchitis
2  XA-1160097               family planning
3  XA-1242842              acute bronchitis
4  XA-1152096  tonsillitis, acute bacterial

In [40]:
df_Invoice.head()

    VisitCode  Amount
0  XA-1193961     195
1  XA-1234414     195
2  XA-1250805     195
3  XA-1194042     195
4  XA-1187472     195

In [41]:
# Merge the visit and diagnosis dataframes
merged_df = df_visit.merge(df_Diagnosis, on='VisitCode')

# Filter visits with both in-person and virtual categories
blended_visits = merged_df[merged_df['VisitCategory'].isin(['In-person Visit', 'Virtual Visit'])]

# Count the number of unique patients with blended visits
unique_patients = len(blended_visits['PatientCode'].unique())

# Display the result
print(f"The number of unique patients who experienced a blended healthcare approach in 2022: {unique_patients}")

The number of unique patients who experienced a blended healthcare approach in 2022: 13383

# 7. Calculate the Net Promoter Score (NPS) in Q3 2022. {Please note that valid NPS scores range from 0 to 10}

In [42]:
df_visit.head()

,VisitCode,PatientCode,VisitDateTime,MedicalCenter,VisitCategory,Payor,NPS Score
0,XA-1124501,38af25ef-37a9,2022-05-22 08:51:05,Tassia,In-person Visit,Cash,NaN
1,XA-1220993,15ac7a77-8153,2022-09-07 10:56:49,Tassia,In-person Visit,Cash,NaN
2,XA-1079995,173f581e-c323,2022-03-24 17:17:32,Tassia,In-person Visit,Cash,NaN
3,XA-1188078,c464fa34-e7f2,2022-07-27 05:54:02,Tassia,In-person Visit,Cash,NaN
4,XA-1220192,7b8216fe-ff14,2022-09-06 12:28:24,Tassia,In-person Visit,Cash,NaN

In [43]:
# Assuming the dataframe is stored in the variable df_visit
df_filtered = df_visit.dropna(subset=['NPS Score'])

# Display the filtered dataframe
df_filtered.head()

,VisitCode,PatientCode,VisitDateTime,MedicalCenter,VisitCategory,Payor,NPS Score
6,XA-1222176,7d456b69-494d,2022-09-08 16:57:00,Tassia,In-person Visit,Cash,9.0
11,XA-1204110,1c570cd7-0b55,2022-08-16 13:34:48,Tassia,In-person Visit,Cash,8.0
24,XA-1171920,3b1acf04-ee4b,2022-07-06 19:33:50,Tassia,In-person Visit,Cash,10.0
62,XA-1160190,4d82da46-ed7b,2022-06-24 12:59:12,Tassia,In-person Visit,Cash,10.0
167,XA-1099676,1802f331-cb91,2022-04-21 21:02:20,Tassia,In-person Visit,Cash,10.0

In [45]:

# Convert 'VisitDateTime' column to datetime type
df_visit['VisitDateTime'] = pd.to_datetime(df_visit['VisitDateTime'])

# Filter the data for Q3 2022
start_date = pd.Timestamp('2022-07-01')
end_date = pd.Timestamp('2022-09-30')
q3_df = df_visit[(df_visit['VisitDateTime'] >= start_date) & (df_visit['VisitDateTime'] <= end_date)]

# Calculate the NPS
promoters = q3_df[q3_df['NPS Score'] >= 9]
passives = q3_df[(q3_df['NPS Score'] >= 7) & (q3_df['NPS Score'] <= 8)]
detractors = q3_df[q3_df['NPS Score'] <= 6]


nps = (len(promoters) - len(detractors)) / len(q3_df) * 100

print("Net Promoter Score (NPS) for Q3 2022: {:.2f}".format(nps))

Net Promoter Score (NPS) for Q3 2022: 3.32

# 8. In 2022 what proportion of visits in Penda Health were second visits? *{A first visit is when a patient visits Penda Health for the very first time, a second visit is when the same patient visits again i.e. a second time and so on}*

In [46]:
df_visit.head()

,VisitCode,PatientCode,VisitDateTime,MedicalCenter,VisitCategory,Payor,NPS Score
0,XA-1124501,38af25ef-37a9,2022-05-22 08:51:05,Tassia,In-person Visit,Cash,NaN
1,XA-1220993,15ac7a77-8153,2022-09-07 10:56:49,Tassia,In-person Visit,Cash,NaN
2,XA-1079995,173f581e-c323,2022-03-24 17:17:32,Tassia,In-person Visit,Cash,NaN
3,XA-1188078,c464fa34-e7f2,2022-07-27 05:54:02,Tassia,In-person Visit,Cash,NaN
4,XA-1220192,7b8216fe-ff14,2022-09-06 12:28:24,Tassia,In-person Visit,Cash,NaN

In [48]:
# Get the year of each visit
df_visit['VisitYear'] = df_visit['VisitDateTime'].dt.year

# Calculate the number of first visits and second visits in 2022
first_visits_2022 = len(df_visit.loc[(df_visit['VisitYear'] == 2022) & (df_visit['PatientCode'].duplicated() == False)])
second_visits_2022 = len(df_visit.loc[(df_visit['VisitYear'] == 2022) & (df_visit['PatientCode'].duplicated() == True)])

# Calculate the proportion of second visits in 2022
proportion_second_visits_2022 = second_visits_2022 / (first_visits_2022 + second_visits_2022)

print(f"The proportion of second visits in 2022 is {proportion_second_visits_2022:.2%}")

The proportion of second visits in 2022 is 37.17%

# 9. What percent of visits in April 2022 happened within 30 days of the preceding visit by the same patient?

In [49]:
# Get the year and month of each visit
# df_visit['VisitYear'] = df_visit['VisitDateTime'].dt.year
df_visit['VisitMonth'] = df_visit['VisitDateTime'].dt.month

# Calculate the difference in days between each visit and the preceding visit
df_visit['DaysSincePriorVisit'] = (df_visit['VisitDateTime'] - df_visit['VisitDateTime'].shift(1)).dt.days

# Filter the dataframe to only include visits in April 2022
df_visit_april = df_visit.loc[(df_visit['VisitYear'] == 2022) & (df_visit['VisitMonth'] == 4)]

# Calculate the number of visits within 30 days of the preceding visit
visits_within_30_days = len(df_visit_april.loc[df_visit_april['DaysSincePriorVisit'] <= 30])

# Calculate the percentage of visits within 30 days of the preceding visit
percentage_visits_within_30_days = visits_within_30_days / len(df_visit_april) * 100

print(f"The percentage of visits in April 2022 that happened within 30 days of the preceding visit by the same patient is {percentage_visits_within_30_days:.2f}%")

The percentage of visits in April 2022 that happened within 30 days of the preceding visit by the same patient is 93.34%