<font color="green">*To start working on this notebook, or any other notebook that we will use in the Moringa Data Science Course, we will need to save our own copy of it. We can do this by clicking File > Save a Copy in Drive. We will then be able to make edits to our own copy of this notebook.*</font>

# Data Investigation with Pandas

## 1.0 Importing our Libraries

In [ ]:
# Importing the libraries we will need 

# Importing the pandas library
# 
import pandas as pd
# Importing the numpy library
#
import numpy as np

## 1.1 Reading the Dataset from our CSV file



The dataset we will use contains information about the 2009 Census - The Rural Urban Population by Age, Sex and District.


*   Dataset link for download or access: [Link](https://drive.google.com/open?id=1pc9ZLFGsosdWBk1lI29ADIqRtCvD_FBe)

In [ ]:
# Let's read the data from the CSV file and create the dataframe to be used
# 
with open('Rural_Urban_Population_By_Age_Sex_and_by_District__2009.csv','r') as f:
    Urban_Centres = pd.read_csv(f, index_col=0, encoding='utf-8')

## 1.2 Previewing our Dataset

In [ ]:
# Let's preview the first 10 rows of our data
# 
Urban_Centres[:10]

             Urban/Rural Age_years   Male  ...   County  Province OBJECTID
District                                   ...
NAIROBI WEST       Urban         0  10126  ...  Nairobi   NAIROBI        0
NAIROBI WEST       Urban         1   8124  ...  Nairobi   NAIROBI        1
NAIROBI WEST       Urban         2   8462  ...  Nairobi   NAIROBI        2
NAIROBI WEST       Urban         3   8334  ...  Nairobi   NAIROBI        3
NAIROBI WEST       Urban         4   7948  ...  Nairobi   NAIROBI        4
NAIROBI WEST       Urban         5   7547  ...  Nairobi   NAIROBI        5
NAIROBI WEST       Urban         6   6966  ...  Nairobi   NAIROBI        6
NAIROBI WEST       Urban         7   6511  ...  Nairobi   NAIROBI        7
NAIROBI WEST       Urban         8   6171  ...  Nairobi   NAIROBI        8
NAIROBI WEST       Urban         9   6361  ...  Nairobi   NAIROBI        9

[10 rows x 8 columns]

## 1.3 Accessing Information about our Dataset

In [ ]:
# We can getting to know more about the dataset by accessing its information 
#
Urban_Centres.describe()

               Male        Female         Total      OBJECTID
count  25420.000000  25420.000000  25420.000000  25420.000000
mean     755.014083    763.872502   1518.886585  12709.500000
std     1305.988549   1295.903980   2589.418161   7338.266258
min        0.000000      0.000000      0.000000      0.000000
25%       57.000000     54.000000    112.000000   6354.750000
50%      269.500000    281.000000    555.000000  12709.500000
75%      891.000000    950.000000   1849.250000  19064.250000
max    23060.000000  23090.000000  44473.000000  25419.000000

## 1.4 Answering Questions

Let's answer the following questions with our dataset

In [ ]:
Urban_Centres.head()

             Urban/Rural Age_years   Male  ...   County  Province OBJECTID
District                                   ...
NAIROBI WEST       Urban         0  10126  ...  Nairobi   NAIROBI        0
NAIROBI WEST       Urban         1   8124  ...  Nairobi   NAIROBI        1
NAIROBI WEST       Urban         2   8462  ...  Nairobi   NAIROBI        2
NAIROBI WEST       Urban         3   8334  ...  Nairobi   NAIROBI        3
NAIROBI WEST       Urban         4   7948  ...  Nairobi   NAIROBI        4

[5 rows x 8 columns]

In [ ]:
# Challenge 1
# What was the average age of a person of Kenya?
#

# replace outlier values
Urban_Centres.loc[Urban_Centres['Age_years'] == '80+', 'Age_years'] = np.random.randint(80,100)
Urban_Centres.loc[Urban_Centres['Age_years'] == 'Age NS', 'Age_years'] = 0

# Change remaining values to int
Urban_Centres['Age_years'] = pd.to_numeric(Urban_Centres['Age_years'])
Urban_Centres['Age_years'].mean()

39.01234567901235

In [ ]:
df = pd.DataFrame(Urban_Centres)

In [ ]:
# Challenge 2
# What was the average female population in Kenya?
#
female_avg = df['Female'].mean()
female_avg

763.8725019669552

In [ ]:
# Challenge 3
# What was the average male population in Kenya?
#
male_avg = df['Male'].mean()
male_avg

755.0140833988985

In [ ]:
# Challenge 4
# Which 5 districts were the most densely populated Kenya in descending order?
#
df.sort_values(by=['District','Total'],ascending=False)[:5]

         Urban/Rural Age_years  Male  ...    County  Province OBJECTID
District                              ...
YATTA          Rural         5  3686  ...  Machakos   EASTERN    17061
YATTA          Rural        10  3563  ...  Machakos   EASTERN    17066
YATTA          Rural         4  3479  ...  Machakos   EASTERN    17060
YATTA          Rural        13  3488  ...  Machakos   EASTERN    17069
YATTA          Rural         7  3443  ...  Machakos   EASTERN    17063

[5 rows x 8 columns]

In [ ]:
# Challenge 5
# Which 5 counties were the most densely populated Counties in descending order?
# 
df.sort_values(by='County',ascending=True)[:5]

         Urban/Rural Age_years  Male  ...   County     Province OBJECTID
District                              ...
BARINGO        Urban        38   133  ...  Baringo  RIFT VALLEY     8540
BARINGO        Rural        60   481  ...  Baringo  RIFT VALLEY    21216
BARINGO        Rural        61   188  ...  Baringo  RIFT VALLEY    21217
BARINGO        Rural        62   144  ...  Baringo  RIFT VALLEY    21218
BARINGO        Rural        63   149  ...  Baringo  RIFT VALLEY    21219

[5 rows x 8 columns]

In [ ]:
# Challenge 6
# Which 5 districts were the most sparsely populated in descending order?
# 
df.sort_values(by='District',ascending=False)[:5]

         Urban/Rural  Age_years  Male  ...    County  Province OBJECTID
District                               ...
YATTA          Rural       79.0   147  ...  Machakos   EASTERN    17135
YATTA          Rural        9.0  3442  ...  Machakos   EASTERN    17065
YATTA          Rural        7.0  3443  ...  Machakos   EASTERN    17063
YATTA          Rural        6.0  3450  ...  Machakos   EASTERN    17062
YATTA          Rural        5.0  3686  ...  Machakos   EASTERN    17061

[5 rows x 8 columns]

In [ ]:
# Challenge 7
# What was the average population of the the most densely populated county in Kenya?
# 
most_pop_county = df.sort_values(by='County',ascending=True)[:1]
most_pop_county.mean(axis=1)

District
BARINGO    1827.2
dtype: float64

In [ ]:
# Challenge 8
# What was the average population of the the most sparsely populated county in Kenya?
# 
least_pop_county = df.sort_values(by='County',ascending=False)[:1]
least_pop_county.mean(axis=1)

District
POKOT NORTH    1607.2
dtype: float64

In [ ]:
# Challenge 9
# What was the total population of Busia County? 
# 
df.loc[['BUSIA']].sum()

Urban/Rural    UrbanUrbanUrbanUrbanUrbanUrbanUrbanUrbanUrbanU...
Age_years                                                   6320
Male                                                      156090
Female                                                    171762
Total                                                     327852
County         BusiaBusiaBusiaBusiaBusiaBusiaBusiaBusiaBusiaB...
Province       WESTERNWESTERNWESTERNWESTERNWESTERNWESTERNWEST...
OBJECTID                                                 3086234
dtype: object

In [ ]:
df.loc[['BUSIA']]

         Urban/Rural  Age_years  Male  Female  Total County Province  OBJECTID
District
BUSIA          Urban        0.0   790     843   1633  Busia  WESTERN     12546
BUSIA          Urban        1.0   679     649   1328  Busia  WESTERN     12547
BUSIA          Urban        2.0   715     725   1440  Busia  WESTERN     12548
BUSIA          Urban        3.0   709     699   1408  Busia  WESTERN     12549
BUSIA          Urban        4.0   675     655   1330  Busia  WESTERN     12550
...              ...        ...   ...     ...    ...    ...      ...       ...
BUSIA          Rural       77.0   242     268    510  Busia  WESTERN     25087
BUSIA          Rural       78.0   157     189    346  Busia  WESTERN     25088
BUSIA          Rural       79.0   188     275    463  Busia  WESTERN     25089
BUSIA          Rural        NaN  1164    1462   2626  Busia  WESTERN     25090
BUSIA          Rural        0.0    73      74    147  Busia  WESTERN     25091

[164 rows x 8 columns]

In [ ]:
# Challenge 10
# What was the average age of person in Busia County? How many people of this age were in Busia County?
# 
Busia_df = df.iloc[12548:12629,:5]
Busia_df['Age_years'].mean()

39.4875

In [ ]:
# Challenge 11
# What was the Total population of Teso South District?
# 
teso_df = df.iloc[12876:12956,]
teso_df['Total'].sum()

24409

In [ ]:
teso_df

           Urban/Rural  Age_years  Male  ...  County  Province OBJECTID
District                                 ...
TESO SOUTH       Urban        2.0   402  ...   Busia   WESTERN    12876
TESO SOUTH       Urban        3.0   407  ...   Busia   WESTERN    12877
TESO SOUTH       Urban        4.0   347  ...   Busia   WESTERN    12878
TESO SOUTH       Urban        5.0   375  ...   Busia   WESTERN    12879
TESO SOUTH       Urban        6.0   372  ...   Busia   WESTERN    12880
...                ...        ...   ...  ...     ...       ...      ...
TESO SOUTH       Urban       77.0     9  ...   Busia   WESTERN    12951
TESO SOUTH       Urban       78.0     3  ...   Busia   WESTERN    12952
TESO SOUTH       Urban       79.0     8  ...   Busia   WESTERN    12953
TESO SOUTH       Urban        NaN    33  ...   Busia   WESTERN    12954
TESO SOUTH       Urban        0.0     9  ...   Busia   WESTERN    12955

[80 rows x 8 columns]

In [ ]:
# Challenge 12
# What was the urban population of Teso South District?
teso_df['Urban/Rural'].describe()

count        81
unique        2
top       Urban
freq         80
Name: Urban/Rural, dtype: object

In [ ]:
# Challenge 13
# What was the rural population of Teso South District?
# 
teso_df['Urban/Rural'].count()

80

In [ ]:
# Challenge 14
# What was the population of people aged 60 and above in Kenya?
#
new_ages = []
for row, column in Urban_Centres['Age_years'].items():
  if column > 60:
    new_ages.append(column)

#print(new_ages)

new_frame = pd.DataFrame(new_ages,columns=['ages'])


population = []

for r,c in new_frame.items():
  for i,t in Urban_Centres['Total'].items():
      population.append(t)

p_df = pd.DataFrame(population, columns=['Pop'])
merger_df = pd.concat([p_df, new_frame])

merger_df

          Pop  ages
0     20242.0   NaN
1     16113.0   NaN
2     17089.0   NaN
3     16754.0   NaN
4     15768.0   NaN
...       ...   ...
5885      NaN  75.0
5886      NaN  76.0
5887      NaN  77.0
5888      NaN  78.0
5889      NaN  79.0

[31310 rows x 2 columns]

In [ ]:
# Challenge 15 
# What was the urban population in Kenya?
#
df['Urban/Rural']