<font color="green">*To start working on this notebook, or any other notebook that we will use in the Moringa Data Science Course, we will need to save our own copy of it. We can do this by clicking File > Save a Copy in Drive. We will then be able to make edits to our own copy of this notebook.*</font>

# Data Investigation with Pandas II

## 1.0 Importing our Libraries

In [2]:
# Importing the libraries we will need 

# Importing the pandas library
# 
import pandas as pd

# Importing the numpy library
#
import numpy as np

## 1.1 Reading the Dataset from our CSV file

This dataset contains trips taken by thousands of kenyans to and from Nairobi during the year 2018.

*   Dataset link for download or access: [Link](https://drive.google.com/a/moringaschool.com/file/d/1xe2sHapdeGo7bIaiG7UV0rjgQZ5U6OXv/view?usp=sharing)

In [3]:
# Let's read the data from the CSV file and create the dataframe to be used
# 
with open('bus_travels.csv','r') as b:
  df = pd.read_csv(b, index_col=0, encoding='UTF-8')

## 1.2 Previewing our Dataset

In [4]:
# Let's preview the first 10 rows of our data
# 
df[:10]

        travel_date travel_time travel_from travel_to car_type  max_capacity
ride_id
247      2018-05-07       07:06       Kisii   Nairobi      Bus            49
256      2018-05-06       11:08       Kisii   Nairobi  shuttle            11
275      2018-05-04       05:00       Kisii   Nairobi  shuttle            11
285      2018-05-04       09:10       Kisii   Nairobi  shuttle            11
286      2018-05-04       09:20       Kisii   Nairobi  shuttle            11
287      2018-05-04       07:02       Kisii   Nairobi      Bus            49
288      2018-05-04       09:30       Kisii   Nairobi  shuttle            11
292      2018-05-04       19:03       Kisii   Nairobi      Bus            49
298      2018-05-04       09:00       Kisii   Nairobi  shuttle            11
302      2018-05-04       08:40       Kisii   Nairobi  shuttle            11

## 1.3 Accessing Information about our Dataset

In [5]:
# Getting to know more about the dataset by accessing its information
#
df.describe

<bound method NDFrame.describe of         travel_date travel_time travel_from travel_to car_type  max_capacity
ride_id
247      2018-05-07       07:06       Kisii   Nairobi      Bus            49
256      2018-05-06       11:08       Kisii   Nairobi  shuttle            11
275      2018-05-04       05:00       Kisii   Nairobi  shuttle            11
285      2018-05-04       09:10       Kisii   Nairobi  shuttle            11
286      2018-05-04       09:20       Kisii   Nairobi  shuttle            11
...             ...         ...         ...       ...      ...           ...
15336    2018-05-07       07:01      Oyugis   Nairobi      Bus            49
15337    2018-05-07       07:08    Kehancha   Nairobi      Bus            49
15338    2018-05-07       07:04       Rongo   Nairobi      Bus            49
15339    2018-05-07       07:05      Ndhiwa   Nairobi      Bus            49
15344    2018-05-09       08:00      Migori   Nairobi      Bus            49

[1111 rows x 6 columns]>

## 1.4 Answering Questions

Let's answer the following questions with our dataset

In [6]:
df[['travel_date','travel_from','travel_to']].head()

        travel_date travel_from travel_to
ride_id
247      2018-05-07       Kisii   Nairobi
256      2018-05-06       Kisii   Nairobi
275      2018-05-04       Kisii   Nairobi
285      2018-05-04       Kisii   Nairobi
286      2018-05-04       Kisii   Nairobi

In [7]:
# Challenge 1
# How many trips were taken on the 22/04/18?
# 
trips = df.loc[(df['travel_date'].values == '2018-04-22')]

trips_taken = trips[['travel_from','travel_to']].count().sum()

In [8]:
# Challenge 2
# Which type of vehicle travelled on 23/04/18 from Kisii to Nairobi at 7.15am?
#
vehicles = df.loc[(df['travel_date'].values == '2018-04-23') & (df['travel_time'] == '07:15')]
vehicles[['travel_date','car_type']]

        travel_date car_type
ride_id
5676     2018-04-23  shuttle

In [9]:
# Challenge 3
# How many trips were made from Kisii to Nairobi?
# 
trips_k_n = df.loc[(df['travel_from'] == 'Kisii') & (df['travel_to'] == 'Nairobi')]
trips_k_n.count().sum()

3270

In [10]:
# Challenge 4
# How many trips were made by shuttle from Nairobi?
# 
shuttle_trip = df.loc[(df['car_type'] == 'shuttle') & (df['travel_from'] == 'Nairobi') ]
shuttle_trip.count().sum()

0

In [11]:
# Challenge 5
# How many trips were made by bus from Nairobi to Awendo?
# 
trips_n_a = df.loc[(df['car_type'] == 'Bus') & (df['travel_from'] == 'Nairobi') ]
trips_n_a.count()

travel_date     0
travel_time     0
travel_from     0
travel_to       0
car_type        0
max_capacity    0
dtype: int64

In [12]:
# Challenge 5
# How many trips were made by bus from Nairobi to Awendo?
# 
trips_n_a = df.loc[(df['car_type'] == 'Bus') & (df['travel_from'] == 'Awendo') ]
trips_n_a.count().sum()

264

In [13]:
# Challenge 6
# Which was the most travelled from destination by bus?
# 
most_bus_travel = df.loc[(df['car_type'] == 'Bus')]
most_bus_travel.sort_values(by=['travel_from','travel_to'], ascending=False)

        travel_date travel_time travel_from travel_to car_type  max_capacity
ride_id
13854    2018-04-21       23:10        Sori   Nairobi      Bus            49
13901    2018-04-22       23:10        Sori   Nairobi      Bus            49
13936    2018-04-22       07:05        Sori   Nairobi      Bus            49
13988    2018-04-23       23:10        Sori   Nairobi      Bus            49
14023    2018-04-23       07:05        Sori   Nairobi      Bus            49
...             ...         ...         ...       ...      ...           ...
15122    2018-05-03       07:13      Awendo   Nairobi      Bus            49
15176    2018-05-03       06:59      Awendo   Nairobi      Bus            49
15185    2018-05-03       07:08      Awendo   Nairobi      Bus            49
15268    2018-05-04       07:08      Awendo   Nairobi      Bus            49
15304    2018-05-05       07:13      Awendo   Nairobi      Bus            49

[599 rows x 6 columns]

In [14]:
# Challenge 7
# Which was the most travelled to destination?
# 
travel_to = df['travel_to']
travel_to.describe()

count        1111
unique          1
top       Nairobi
freq         1111
Name: travel_to, dtype: object

In [15]:
with open('bus_travels.csv','r') as b:
  df = pd.read_csv(b, index_col=0, encoding='UTF-8')

In [16]:
# Challenge 8
# Which was the most travelled destination by bus?
# 
most_t = df.loc[(df['car_type'] == 'Bus')]
most_t[['travel_to']].describe()

       travel_to
count        599
unique         1
top      Nairobi
freq         599

In [17]:
# Challenge 9
# Which town did not have a departure by shuttle?
# 
not_shttl = df.loc[(df['car_type'] != 'shuttle')]

not_shttl[['travel_from']].describe()

       travel_from
count          599
unique          15
top          Rongo
freq           115

In [18]:
# Challenge 10
# Which were the most 5 travelled to destinations?
# 
t_to = df['travel_to']
t_to.max()

'Nairobi'

In [19]:
# Challenge 11
# Which were the least 5 travelled to destinations?
#
t_to.min()

'Nairobi'

In [54]:
df

        travel_date travel_time travel_from travel_to car_type  max_capacity
ride_id
247      2018-05-07       07:06       Kisii   Nairobi      Bus            49
256      2018-05-06       11:08       Kisii   Nairobi  shuttle            11
275      2018-05-04       05:00       Kisii   Nairobi  shuttle            11
285      2018-05-04       09:10       Kisii   Nairobi  shuttle            11
286      2018-05-04       09:20       Kisii   Nairobi  shuttle            11
...             ...         ...         ...       ...      ...           ...
15336    2018-05-07       07:01      Oyugis   Nairobi      Bus            49
15337    2018-05-07       07:08    Kehancha   Nairobi      Bus            49
15338    2018-05-07       07:04       Rongo   Nairobi      Bus            49
15339    2018-05-07       07:05      Ndhiwa   Nairobi      Bus            49
15344    2018-05-09       08:00      Migori   Nairobi      Bus            49

[1111 rows x 6 columns]

In [53]:
# Challenge 12
# If all shuttles travelled with full capacity, how many people travelled in shuttles from Kisii to Nairobi in the month of May?
#

df['travel_date'] = pd.to_datetime(df['travel_date'])
#df.info()

may  = df[df['travel_date'].dt.month == 5]

#people = df[(df['travel_from']== 'Kisii') & (df['travel_to'] == 'Nairobi') & (may)]


df[(df['travel_from'] == 'Kisii') & (df['travel_to'] == 'Nairobi') & (df['car_type'] == 'shuttle') & ( df['travel_date'].dt.month == 5)]['ride_id']

KeyError: ignored

In [ ]:
# Challenge 13
# Which date had the highest no. of trips in June?
#

In [ ]:
# Challenge 14
# On average, how many trips were made by all vehicles in a day?
#

In [ ]:
# Challenge 15 
# On average, how many buses and shuttles travelled in a day?
#