# load datasets

In [4]:

import glob

data_file_path = "/home/eliudluda/Desktop/Data_Science/data" # where your data sets are stored



class GetFiles:
    """
        Basically enables you to view every file in a folder.
        This is a class to get a list of files either
        .csv of .xlsx type
         you can the use this in your data science projects
         to just get the file by its index

         # TODO:
            1. Add enumarition for selection only by index
            2. Add a read_from_google_Drive feature (tricky but interesting)
            3. Add a search by name in folder method (ticky but interesting)
    """

    def __init__(self,f_path):
        self.f_path = f_path

    def csv_files(self):
        files_dir = []
        for i in glob.glob(f"{self.f_path}/*.csv"):
            files_dir.append(i)
        return files_dir
    def excel_files(self):
        files_dir = []
        for i in glob.glob(f"{self.f_path}/*.xlsx"):
            files_dir.append(i)
        return files_dir


# try:
#     print(GetFiles(data_file_path).csv_files())
# except:
#     print("Check file path")

In [5]:
files = GetFiles(data_file_path).csv_files()

In [6]:

for i in enumerate(files):
    print(i)

(0, '/home/eliudluda/Desktop/Data_Science/data/Population_by_state.csv')
(1, '/home/eliudluda/Desktop/Data_Science/data/uni_admission.csv')
(2, '/home/eliudluda/Desktop/Data_Science/data/Interpol.csv')
(3, '/home/eliudluda/Desktop/Data_Science/data/government_appointments.csv')
(4, '/home/eliudluda/Desktop/Data_Science/data/marathon_results_2016.csv')
(5, '/home/eliudluda/Desktop/Data_Science/data/households-paying-for-the-water-they-use-in-kenya-1.csv')
(6, '/home/eliudluda/Desktop/Data_Science/data/HIV_Prevention_Adolescents_2021.csv')
(7, '/home/eliudluda/Desktop/Data_Science/data/GrandElectors_by_state.csv')
(8, '/home/eliudluda/Desktop/Data_Science/data/Countries-exercise.csv')
(9, '/home/eliudluda/Desktop/Data_Science/data/Transactions.csv')
(10, '/home/eliudluda/Desktop/Data_Science/data/results.csv')
(11, '/home/eliudluda/Desktop/Data_Science/data/Glass.csv')
(12, '/home/eliudluda/Desktop/Data_Science/data/energy_mining_dataset.csv')
(13, '/home/eliudluda/Desktop/Data_Science/data/File Name.csv')
(14, '/home/eliudluda/Desktop/Data_Science/data/urban_centres_dataset.csv')
(15, '/home/eliudluda/Desktop/Data_Science/data/Cities.csv')
(16, '/home/eliudluda/Desktop/Data_Science/data/tea_production.csv')
(17, '/home/eliudluda/Desktop/Data_Science/data/Percentage_Distribution_of_Population_by_type_of_Disability_County_Estimates2005_6.csv')
(18, '/home/eliudluda/Desktop/Data_Science/data/train.csv')
(19, '/home/eliudluda/Desktop/Data_Science/data/DF_Rolling_Stdev.csv')
(20, '/home/eliudluda/Desktop/Data_Science/data/visitors_to_kenya.csv')
(21, '/home/eliudluda/Desktop/Data_Science/data/households_dataset.csv')
(22, '/home/eliudluda/Desktop/Data_Science/data/DF_Raw_Data.csv')
(23, '/home/eliudluda/Desktop/Data_Science/data/Countries.csv')
(24, '/home/eliudluda/Desktop/Data_Science/data/winequality-red.csv')
(25, '/home/eliudluda/Desktop/Data_Science/data/test.csv')
(26, '/home/eliudluda/Desktop/Data_Science/data/position_salaries.csv')
(27, '/home/eliudluda/Desktop/Data_Science/data/bus_travels.csv')
(28, '/home/eliudluda/Desktop/Data_Science/data/kewi-water-test-and-results-csv-1.csv')
(29, '/home/eliudluda/Desktop/Data_Science/data/spambase.csv')
(30, '/home/eliudluda/Desktop/Data_Science/data/2009_Census_Volume_II_Table_5_Households_by_main_type_of_Roofing_Material_for_the_main_dwelling_unit_by_district.csv')
(31, '/home/eliudluda/Desktop/Data_Science/data/Rural_Urban_Population_By_Age_Sex_and_by_District__2009.csv')
(32, '/home/eliudluda/Desktop/Data_Science/data/cells_geo.csv')
(33, '/home/eliudluda/Desktop/Data_Science/data/lighting_dataset.csv')
(34, '/home/eliudluda/Desktop/Data_Science/data/percentage-of-population-with-access-to-improved-water-facilities-in-kenya-1.csv')
(35, '/home/eliudluda/Desktop/Data_Science/data/student_exam_data.csv')
(36, '/home/eliudluda/Desktop/Data_Science/data/covid_caner_poland.csv')
(37, '/home/eliudluda/Desktop/Data_Science/data/world_countries.csv')
(38, '/home/eliudluda/Desktop/Data_Science/data/world_cities.csv')
(39, '/home/eliudluda/Desktop/Data_Science/data/Uganda_Karamoja_Subcounty_Crop_Yield_Population.csv')
(40, '/home/eliudluda/Desktop/Data_Science/data/population_by_district.csv')
(41, '/home/eliudluda/Desktop/Data_Science/data/fifa_ranking.csv')
(42, '/home/eliudluda/Desktop/Data_Science/data/government_project_summary.csv')
(43, '/home/eliudluda/Desktop/Data_Science/data/3.01. Country clusters.csv')
(44, '/home/eliudluda/Desktop/Data_Science/data/Gender_heights.csv')

> ---

In [7]:
import pandas as pd

In [8]:
df_fifa_ranking = pd.read_csv(files[41])

In [9]:
df_fifa_ranking.head()

,rank,country_full,country_abrv,total_points,previous_points,rank_change,cur_year_avg,cur_year_avg_weighted,last_year_avg,last_year_avg_weighted,two_year_ago_avg,two_year_ago_weighted,three_year_ago_avg,three_year_ago_weighted,confederation,rank_date
0,1,Germany,GER,0.0,57,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,UEFA,1993-08-08
1,2,Italy,ITA,0.0,57,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,UEFA,1993-08-08
2,3,Switzerland,SUI,0.0,50,9,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,UEFA,1993-08-08
3,4,Sweden,SWE,0.0,55,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,UEFA,1993-08-08
4,5,Argentina,ARG,0.0,51,5,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,CONMEBOL,1993-08-08

# SQL:

In [10]:
%load_ext sql

%sql sqlite://

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

In [11]:
%sql DROP TABLE if EXISTS df_fifa_ranking;
%sql --persist df_fifa_ranking;

 * sqlite://
Done.
 * sqlite://

'Persisted df_fifa_ranking'

In [12]:
%%sql 
SELECT country_full cf,rank_change rc,rank_date rd
FROM df_fifa_ranking
LIMIT 10;

 * sqlite://
Done.

[('Germany', 0, '1993-08-08'),
 ('Italy', 0, '1993-08-08'),
 ('Switzerland', 9, '1993-08-08'),
 ('Sweden', 0, '1993-08-08'),
 ('Argentina', 5, '1993-08-08'),
 ('Republic of Ireland', 0, '1993-08-08'),
 ('Russia', 1, '1993-08-08'),
 ('Brazil', -5, '1993-08-08'),
 ('Norway', 5, '1993-08-08'),
 ('Denmark', -1, '1993-08-08')]

In [21]:
%%sql 
SELECT country_full cf,rank_change rc,rank_date rd
FROM df_fifa_ranking
WHERE rd > "1993-08-08"
ORDER BY rc DESC
LIMIT 50;

 * sqlite://
Done.

[('Slovakia', 92, '1994-02-15'),
 ('Faroe Islands', 82, '2014-11-27'),
 ('Guatemala', 77, '2014-09-18'),
 ('Togo', 73, '2014-10-23'),
 ('Cuba', 72, '1995-10-17'),
 ('Palestine', 71, '2014-06-05'),
 ('Antigua and Barbuda', 69, '2014-09-18'),
 ('Equatorial Guinea', 69, '2015-02-12'),
 ('IR Iran', 65, '1996-07-03'),
 ('Liberia', 65, '2015-10-01'),
 ('Central African Republic', 60, '2010-10-20'),
 ('Equatorial Guinea', 59, '2006-07-12'),
 ('Kyrgyz Republic', 59, '2013-04-11'),
 ('Suriname', 58, '2008-07-02'),
 ('New Zealand', 57, '2008-10-08'),
 ('Bermuda', 57, '2011-10-19'),
 ('Andorra', 57, '2017-07-06'),
 ('Bahamas', 55, '2006-09-13'),
 ('Samoa', 55, '2011-12-21'),
 ('El Salvador', 55, '2014-09-18'),
 ('Cyprus', 55, '2014-09-18'),
 ('Niger', 54, '2010-10-20'),
 ('South Sudan', 54, '2015-10-01'),
 ('New Zealand', 54, '2016-07-14'),
 ('Tahiti', 53, '1998-10-21'),
 ('São Tomé e Príncipe', 53, '2012-03-07'),
 ('Barbados', 52, '2006-10-18'),
 ('Benin', 52, '2012-06-06'),
 ('Fiji', 51, '2007-09-19'),
 ('Nicaragua', 50, '2009-02-11'),
 ('Guinea-Bissau', 50, '2014-06-05'),
 ('Uganda', 49, '1995-10-17'),
 ('Montenegro', 49, '2016-10-20'),
 ('Armenia', 48, '2007-06-13'),
 ('Guinea-Bissau', 48, '2010-09-15'),
 ('Afghanistan', 48, '2013-03-14'),
 ('St Vincent and the Grenadines', 47, '1995-10-17'),
 ('Burkina Faso', 47, '2008-07-02'),
 ('Cape Verde Islands', 47, '2017-09-14'),
 ('Dominica', 46, '2010-10-20'),
 ('Gabon', 46, '2012-02-15'),
 ('Bhutan', 46, '2015-04-09'),
 ('Puerto Rico', 46, '2016-07-14'),
 ('Armenia', 45, '2010-10-20'),
 ('Bahamas', 45, '2011-07-27'),
 ('Wales', 45, '2011-10-19'),
 ('Equatorial Guinea', 45, '2013-04-11'),
 ('Madagascar', 45, '2014-06-05'),
 ('Guinea-Bissau', 45, '2016-04-07'),
 ('Curaçao', 45, '2016-10-20')]

In [ ]:
%%sql

In [24]:
%%sql 
SELECT MAX(rank_date) max_d, MIN(rank_date) as min_d
FROM df_fifa_ranking

 * sqlite://
Done.

[('2018-06-07', '1993-08-08')]