<a href="https://colab.research.google.com/github/cnyakundi/corrupttion-analysis-per-county/blob/master/Incredibles_Group_Project.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Incredibles Group Project - Corruption Analysis  Per County

## Loading the Libraries

In [1]:
#Importing Pandas 

import pandas as pd
#Importing Numpy 
import numpy as np 

#Importing matplotlib 

import matplotlib as plt 

#Importing Seaborn 

import seaborn as sns

### Functions for data cleaning

In [2]:
# Creating a function to load our dataset and preview the first 3 rows 

def load_dataset(data):
  df=pd.read_csv(data, index_col='No.')
  return df


#Checking for duplicates 

def duplicates(val):
  no_null=val.isnull().sum()
  return no_null

# Function to save our cleaned data in form of CSV and XLSX

def save_data_set(data, name):
  data.to_csv(name)
  return data 

#Function to check information on a dataset 

def check_info(val):
  dataframe_info= val.info()
  return dataframe_info

# A function to strip white space Stripping space 
def strip_space(val):
  stripped_data=val.str.strip()
  return stripped_data

# A function to drop null values 
def drop_null_values(value):
  not_null=value.dropna()

  return not_null

## Cleaning the datasets

### Cleaning the first dataset

In [ ]:
average_bribe_per_county =pd.read_csv("average-bribe-in-kes-by-county-1.csv", index_col="No.")

In [ ]:
average_bribe_per_county.head(10)

       County       2018      2017       2016       2015      2012
No.
1       Wajir  14,354.85  6,235.77        ***   5,850.00       ***
2       Kitui  11,640.15  4,101.40   1,118.32        617  3,148.00
3     Kericho  11,265.32    508.86   3,032.33        133  4,110.00
4     Mombasa   9,257.00  2,389.32   3,896.44   4,032.00  4,474.00
5     Garissa   8,731.92  1,950.60   6,981.43  51,990.00       ***
6    Marsabit   7,741.28  7,859.57   7,205.96   1,238.00       500
7        Lamu   5,966.79  1,152.81  13,072.71  30,025.00       ***
8      Kilifi   5,941.52  1,574.12     361.27   2,969.00       691
9    Kakamega   4,587.88  2,695.33   5,575.17        567  4,689.00
10      Nandi   4,399.48  2,647.78   1,257.09   7,000.00  1,357.00

In [ ]:
average_bribe_per_county.columns

Index(['County', '2018', '2017', '2016', '2015', '2012'], dtype='object')

In [ ]:
#Checking info on the dataset 

check_info(average_bribe_per_county)

<class 'pandas.core.frame.DataFrame'>
Index: 49 entries, 1 to *** Survey was not conducted in the County
Data columns (total 6 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   County  47 non-null     object
 1   2018    48 non-null     object
 2   2017    48 non-null     object
 3   2016    48 non-null     object
 4   2015    48 non-null     object
 5   2012    48 non-null     object
dtypes: object(6)
memory usage: 2.7+ KB

In [ ]:
average_bribe_per_county.columns=[ 'County-NAME', '2018-AVG-BRIBE', '2017-AVG-BRIBE', '2016-AVG-BRIBE', '2015-AVG-BRIBE', '2012-AVG-BRIBE']

In [ ]:


average_bribe_per_county.columns

Index(['County-NAME', '2018-AVG-BRIBE', '2017-AVG-BRIBE', '2016-AVG-BRIBE',
       '2015-AVG-BRIBE', '2012-AVG-BRIBE'],
      dtype='object')

In [ ]:
average_bribe_per_county.isnull().values.any()

True

In [ ]:
average_bribe_per_county.head()

    County-NAME 2018-AVG-BRIBE  ... 2015-AVG-BRIBE 2012-AVG-BRIBE
No.                             ...
1         Wajir      14,354.85  ...       5,850.00            ***
2         Kitui      11,640.15  ...            617       3,148.00
3       Kericho      11,265.32  ...            133       4,110.00
4       Mombasa       9,257.00  ...       4,032.00       4,474.00
5       Garissa       8,731.92  ...      51,990.00            ***

[5 rows x 6 columns]

In [ ]:
# We check the null values 

average_bribe_per_county.isnull().values.any()

True

In [ ]:
# We replace the aesterics with 0. 
cleaned_average_bribe_per_county = average_bribe_per_county.replace(',','', regex=True)


cleaned_average_bribe_per_county.replace('***', 0, inplace=True)

# cleaned_average_bribe_per_county.ffill()

cleaned_average_bribe_per_county

                                                   County-NAME  ... 2012-AVG-BRIBE
No.                                                             ...
1                                                        Wajir  ...              0
2                                                        Kitui  ...        3148.00
3                                                      Kericho  ...        4110.00
4                                                      Mombasa  ...        4474.00
5                                                      Garissa  ...              0
6                                                     Marsabit  ...            500
7                                                         Lamu  ...              0
8                                                       Kilifi  ...            691
9                                                     Kakamega  ...        4689.00
10                                                       Nandi  ...        1357.00
11                                                      Nakuru  ...        8467.00
12                                              Nairobi\n City  ...        6957.00
13                                                     Mandera  ...              0
14                                                    Murang’a  ...        4000.00
15                                                       Kisii  ...        3692.00
16                                                      Migori  ...        6384.00
17                                                      Kiambu  ...        3390.00
18                                                   Kirinyaga  ...       15914.00
19                                                      Vihiga  ...            841
20                                                       Nyeri  ...        7781.00
21                                               Uasin\n Gishu  ...        1817.00
22                                                       Siaya  ...        1050.00
23                                                    Machakos  ...        1546.00
24                                                        Meru  ...        4402.00
25                                                     Kajiado  ...        2161.00
26                                                       Busia  ...        7800.00
27                                                     Bungoma  ...        1094.00
28                                                    Laikipia  ...        1127.00
29                                                 TaitaTaveta  ...            972
30                                                     Turkana  ...        5000.00
31                                               Trans\n Nzoia  ...        1767.00
32                                                   Nyandarua  ...        3682.00
33                                                       Kwale  ...        1477.00
34                                                       Narok  ...        6771.00
35                                                West\n Pokot  ...            300
36                                             Tharaka\n Nithi  ...        4540.00
37                                                     Makueni  ...        1098.00
38                                                  Tana River  ...              0
39                                          Elgeyo/\n Marakwet  ...        4000.00
40                                                     Nyamira  ...        3562.00
41                                                      Kisumu  ...        6825.00
42                                                        Embu  ...        2936.00
43                                                    Homa-bay  ...        3753.00
44                                                     Baringo  ...       20075.00
45                                                      Isiolo  ...            888
46                                                     Samburu  ...            572
47                                                       Bomet  ...        1062.00
Total                                                      NaN  ...        4601.00
*** Survey was not conducted in the County                 NaN  ...            NaN

[49 rows x 6 columns]

In [ ]:
#Checking the datatypes in the columns 

cleaned_average_bribe_per_county.dtypes

County-NAME       object
2018-AVG-BRIBE    object
2017-AVG-BRIBE    object
2016-AVG-BRIBE    object
2015-AVG-BRIBE    object
2012-AVG-BRIBE    object
dtype: object

In [ ]:
# Checking the columns before converting the datatypes 

cleaned_average_bribe_per_county.columns

Index(['County-NAME', '2018-AVG-BRIBE', '2017-AVG-BRIBE', '2016-AVG-BRIBE',
       '2015-AVG-BRIBE', '2012-AVG-BRIBE'],
      dtype='object')

In [ ]:
#Specifying the columns to convert its datatypes

columns_to_be_converted= [ '2018-AVG-BRIBE', '2017-AVG-BRIBE', '2016-AVG-BRIBE',
       '2015-AVG-BRIBE', '2012-AVG-BRIBE']

In [ ]:
#Converting the columns into numerical datatypes

for column in columns_to_be_converted:

   cleaned_average_bribe_per_county[column]= pd.to_numeric(cleaned_average_bribe_per_county[column], errors='coerce')

In [ ]:
# Confirming that we have changed the dtypes 

cleaned_average_bribe_per_county.dtypes

County-NAME        object
2018-AVG-BRIBE    float64
2017-AVG-BRIBE    float64
2016-AVG-BRIBE    float64
2015-AVG-BRIBE    float64
2012-AVG-BRIBE    float64
dtype: object

In [ ]:
cleaned_average_bribe_per_county

                                                   County-NAME  ...  2012-AVG-BRIBE
No.                                                             ...
1                                                        Wajir  ...             0.0
2                                                        Kitui  ...          3148.0
3                                                      Kericho  ...          4110.0
4                                                      Mombasa  ...          4474.0
5                                                      Garissa  ...             0.0
6                                                     Marsabit  ...           500.0
7                                                         Lamu  ...             0.0
8                                                       Kilifi  ...           691.0
9                                                     Kakamega  ...          4689.0
10                                                       Nandi  ...          1357.0
11                                                      Nakuru  ...          8467.0
12                                              Nairobi\n City  ...          6957.0
13                                                     Mandera  ...             0.0
14                                                    Murang’a  ...          4000.0
15                                                       Kisii  ...          3692.0
16                                                      Migori  ...          6384.0
17                                                      Kiambu  ...          3390.0
18                                                   Kirinyaga  ...         15914.0
19                                                      Vihiga  ...           841.0
20                                                       Nyeri  ...          7781.0
21                                               Uasin\n Gishu  ...          1817.0
22                                                       Siaya  ...          1050.0
23                                                    Machakos  ...          1546.0
24                                                        Meru  ...          4402.0
25                                                     Kajiado  ...          2161.0
26                                                       Busia  ...          7800.0
27                                                     Bungoma  ...          1094.0
28                                                    Laikipia  ...          1127.0
29                                                 TaitaTaveta  ...           972.0
30                                                     Turkana  ...          5000.0
31                                               Trans\n Nzoia  ...          1767.0
32                                                   Nyandarua  ...          3682.0
33                                                       Kwale  ...          1477.0
34                                                       Narok  ...          6771.0
35                                                West\n Pokot  ...           300.0
36                                             Tharaka\n Nithi  ...          4540.0
37                                                     Makueni  ...          1098.0
38                                                  Tana River  ...             0.0
39                                          Elgeyo/\n Marakwet  ...          4000.0
40                                                     Nyamira  ...          3562.0
41                                                      Kisumu  ...          6825.0
42                                                        Embu  ...          2936.0
43                                                    Homa-bay  ...          3753.0
44                                                     Baringo  ...         20075.0
45                                                      Isiolo  ...           888.0
46                                                     Samburu  ...           572.0
47                                                       Bomet  ...          1062.0
Total                                                      NaN  ...          4601.0
*** Survey was not conducted in the County                 NaN  ...             NaN

[49 rows x 6 columns]

In [ ]:
#Checking for duplicates in our dataset 

duplicates(cleaned_average_bribe_per_county)

County-NAME       2
2018-AVG-BRIBE    1
2017-AVG-BRIBE    1
2016-AVG-BRIBE    1
2015-AVG-BRIBE    1
2012-AVG-BRIBE    1
dtype: int64

In [ ]:
#Dropping the last irrelevant rows 

cleaned_average_bribe_per_county.drop(labels=['Total', '*** Survey was not conducted in the County'], axis=0,inplace=True)

In [ ]:
#Conforming the dropped rows 

cleaned_average_bribe_per_county

            County-NAME  2018-AVG-BRIBE  ...  2015-AVG-BRIBE  2012-AVG-BRIBE
No.                                      ...
1                 Wajir        14354.85  ...          5850.0             0.0
2                 Kitui        11640.15  ...           617.0          3148.0
3               Kericho        11265.32  ...           133.0          4110.0
4               Mombasa         9257.00  ...          4032.0          4474.0
5               Garissa         8731.92  ...         51990.0             0.0
6              Marsabit         7741.28  ...          1238.0           500.0
7                  Lamu         5966.79  ...         30025.0             0.0
8                Kilifi         5941.52  ...          2969.0           691.0
9              Kakamega         4587.88  ...           567.0          4689.0
10                Nandi         4399.48  ...          7000.0          1357.0
11               Nakuru         4354.27  ...          5387.0          8467.0
12       Nairobi\n City         4245.42  ...          7436.0          6957.0
13              Mandera         3760.59  ...         80000.0             0.0
14             Murang’a         3683.38  ...          2846.0          4000.0
15                Kisii         3343.89  ...          6520.0          3692.0
16               Migori         3311.01  ...         20000.0          6384.0
17               Kiambu         3213.29  ...          2932.0          3390.0
18            Kirinyaga         3171.81  ...          4650.0         15914.0
19               Vihiga         2998.51  ...          1925.0           841.0
20                Nyeri         2914.75  ...          1725.0          7781.0
21        Uasin\n Gishu         2694.70  ...          5422.0          1817.0
22                Siaya         2633.51  ...           550.0          1050.0
23             Machakos         2513.74  ...           500.0          1546.0
24                 Meru         2158.73  ...          6639.0          4402.0
25              Kajiado         1877.99  ...          5569.0          2161.0
26                Busia         1778.13  ...          2860.0          7800.0
27              Bungoma         1774.00  ...          1850.0          1094.0
28             Laikipia         1713.06  ...         20367.0          1127.0
29          TaitaTaveta         1692.36  ...          3167.0           972.0
30              Turkana         1667.69  ...             0.0          5000.0
31        Trans\n Nzoia         1547.61  ...          2148.0          1767.0
32            Nyandarua         1445.03  ...          3809.0          3682.0
33                Kwale         1420.51  ...          3350.0          1477.0
34                Narok         1420.29  ...          6966.0          6771.0
35         West\n Pokot         1406.97  ...          1367.0           300.0
36      Tharaka\n Nithi         1352.88  ...           914.0          4540.0
37              Makueni         1188.17  ...          4609.0          1098.0
38           Tana River         1136.39  ...             0.0             0.0
39   Elgeyo/\n Marakwet         1075.08  ...          1200.0          4000.0
40              Nyamira         1034.94  ...          1104.0          3562.0
41               Kisumu          838.73  ...          3814.0          6825.0
42                 Embu          757.79  ...          1198.0          2936.0
43             Homa-bay          708.74  ...          1654.0          3753.0
44              Baringo          662.18  ...         46307.0         20075.0
45               Isiolo          517.27  ...           200.0           888.0
46              Samburu          474.94  ...          4100.0           572.0
47                Bomet          405.18  ...          3942.0          1062.0

[47 rows x 6 columns]

In [ ]:
#Saving the dataset 

save_data_set(cleaned_average_bribe_per_county, "average_bribery_per_county_final.csv")

            County-NAME  2018-AVG-BRIBE  ...  2015-AVG-BRIBE  2012-AVG-BRIBE
No.                                      ...
1                 Wajir        14354.85  ...          5850.0             0.0
2                 Kitui        11640.15  ...           617.0          3148.0
3               Kericho        11265.32  ...           133.0          4110.0
4               Mombasa         9257.00  ...          4032.0          4474.0
5               Garissa         8731.92  ...         51990.0             0.0
6              Marsabit         7741.28  ...          1238.0           500.0
7                  Lamu         5966.79  ...         30025.0             0.0
8                Kilifi         5941.52  ...          2969.0           691.0
9              Kakamega         4587.88  ...           567.0          4689.0
10                Nandi         4399.48  ...          7000.0          1357.0
11               Nakuru         4354.27  ...          5387.0          8467.0
12       Nairobi\n City         4245.42  ...          7436.0          6957.0
13              Mandera         3760.59  ...         80000.0             0.0
14             Murang’a         3683.38  ...          2846.0          4000.0
15                Kisii         3343.89  ...          6520.0          3692.0
16               Migori         3311.01  ...         20000.0          6384.0
17               Kiambu         3213.29  ...          2932.0          3390.0
18            Kirinyaga         3171.81  ...          4650.0         15914.0
19               Vihiga         2998.51  ...          1925.0           841.0
20                Nyeri         2914.75  ...          1725.0          7781.0
21        Uasin\n Gishu         2694.70  ...          5422.0          1817.0
22                Siaya         2633.51  ...           550.0          1050.0
23             Machakos         2513.74  ...           500.0          1546.0
24                 Meru         2158.73  ...          6639.0          4402.0
25              Kajiado         1877.99  ...          5569.0          2161.0
26                Busia         1778.13  ...          2860.0          7800.0
27              Bungoma         1774.00  ...          1850.0          1094.0
28             Laikipia         1713.06  ...         20367.0          1127.0
29          TaitaTaveta         1692.36  ...          3167.0           972.0
30              Turkana         1667.69  ...             0.0          5000.0
31        Trans\n Nzoia         1547.61  ...          2148.0          1767.0
32            Nyandarua         1445.03  ...          3809.0          3682.0
33                Kwale         1420.51  ...          3350.0          1477.0
34                Narok         1420.29  ...          6966.0          6771.0
35         West\n Pokot         1406.97  ...          1367.0           300.0
36      Tharaka\n Nithi         1352.88  ...           914.0          4540.0
37              Makueni         1188.17  ...          4609.0          1098.0
38           Tana River         1136.39  ...             0.0             0.0
39   Elgeyo/\n Marakwet         1075.08  ...          1200.0          4000.0
40              Nyamira         1034.94  ...          1104.0          3562.0
41               Kisumu          838.73  ...          3814.0          6825.0
42                 Embu          757.79  ...          1198.0          2936.0
43             Homa-bay          708.74  ...          1654.0          3753.0
44              Baringo          662.18  ...         46307.0         20075.0
45               Isiolo          517.27  ...           200.0           888.0
46              Samburu          474.94  ...          4100.0           572.0
47                Bomet          405.18  ...          3942.0          1062.0

[47 rows x 6 columns]

### Cleaning the second dataset

In [ ]:
#Loading the average time per bribe demanded 


#A function for loading the dataset 



average_time_per_bribe_demand=load_dataset("average_time_per_bribe_demand.csv")

In [ ]:
#Checking the columns 

average_time_per_bribe_demand.columns

Index(['County', '2018', '2017', '2016', '2015', '2012'], dtype='object')

In [ ]:
# Renaming the columns 

columns=['2018', '2017', '2016', '2015', '2012']

average_time_per_bribe_demand.columns= ['County-NAME','2018-AVG-TIME-PER-BRIBE-DEMAND', '2017-AVG-TIME-PER-BRIBE-DEMAND', '2016-AVG-TIME-PER-BRIBE-DEMAND', '2015-AVG-TIME-PER-BRIBE-DEMAND', '2012-AVG-TIME-PER-BRIBE-DEMAND']

In [ ]:
# Confirming columns renaming 

average_time_per_bribe_demand.columns

Index(['County-NAME', '2018-AVG-TIME-PER-BRIBE-DEMAND',
       '2017-AVG-TIME-PER-BRIBE-DEMAND', '2016-AVG-TIME-PER-BRIBE-DEMAND',
       '2015-AVG-TIME-PER-BRIBE-DEMAND', '2012-AVG-TIME-PER-BRIBE-DEMAND'],
      dtype='object')

In [ ]:
#Checking for Null Values 

average_time_per_bribe_demand.isnull().values.any()

True

In [ ]:
#Checking for duplicates

In [ ]:
# We replace the aesterics with 0. 


average_time_per_bribe_demand.replace('***', 0, inplace=True)

# cleaned_average_bribe_per_county.ffill()

average_time_per_bribe_demand

                                                   County-NAME  ...  2012-AVG-TIME-PER-BRIBE-DEMAND
No.                                                             ...
1                                                   Tana River  ...                               0
2                                                       Migori  ...                            2.34
3                                                       Kilifi  ...                            1.71
4                                                        Kisii  ...                            1.85
5                                                     Laikipia  ...                            1.94
6                                                        Wajir  ...                               0
7                                                      Mandera  ...                               0
8                                                         Lamu  ...                               0
9                                                   West Pokot  ...                             1.5
10                                                     Garissa  ...                               0
11                                                   Kirinyaga  ...                            1.73
12                                                     Baringo  ...                               1
13                                                 Trans Nzoia  ...                            2.33
14                                                     Mombasa  ...                            2.37
15                                          Elgeyo/\n Marakwet  ...                               2
16                                                     Turkana  ...                               1
17                                                        Embu  ...                               3
18                                                      Vihiga  ...                            1.36
19                                                    Kakamega  ...                            2.07
20                                                     Kajiado  ...                            1.58
21                                                    Murang’a  ...                            1.57
22                                                        Meru  ...                            2.76
23                                                      Kiambu  ...                            1.75
24                                                Nairobi City  ...                            2.63
25                                                   Nyandarua  ...                             NaN
26                                                       Nandi  ...                             NaN
27                                                      Kisumu  ...                             NaN
28                                                       Nyeri  ...                             NaN
29                                                     Homabay  ...                             NaN
30                                                     Kericho  ...                             NaN
31                                               Tharaka Nithi  ...                             NaN
32                                                 TaitaTaveta  ...                             NaN
33                                                       Kitui  ...                             NaN
34                                                     Bungoma  ...                             NaN
35                                                       Kwale  ...                             NaN
36                                                      Nakuru  ...                             NaN
37                                                       Siaya  ...                             NaN
38                                                     Makueni  ...                             NaN
39                                                  UasinGishu  ...                             NaN
40                                                     Samburu  ...                             NaN
41                                                    Marsabit  ...                             NaN
42                                                    Machakos  ...                             NaN
43                                                     Nyamira  ...                             NaN
44                                                       Narok  ...                             NaN
45                                                      Isiolo  ...                             NaN
46                                                       Bomet  ...                             NaN
47                                                       Busia  ...                             NaN
NaN                                                      Total  ...                             NaN
*** Survey was not conducted in the County                 NaN  ...                             NaN

[49 rows x 6 columns]

In [ ]:
# Checking datatypes 

average_time_per_bribe_demand.dtypes

County-NAME                        object
2018-AVG-TIME-PER-BRIBE-DEMAND    float64
2017-AVG-TIME-PER-BRIBE-DEMAND    float64
2016-AVG-TIME-PER-BRIBE-DEMAND    float64
2015-AVG-TIME-PER-BRIBE-DEMAND    float64
2012-AVG-TIME-PER-BRIBE-DEMAND     object
dtype: object

In [ ]:
average_time_per_bribe_demand.dropna()

            County-NAME  ...  2012-AVG-TIME-PER-BRIBE-DEMAND
No.                      ...
1            Tana River  ...                               0
2                Migori  ...                            2.34
3                Kilifi  ...                            1.71
4                 Kisii  ...                            1.85
5              Laikipia  ...                            1.94
6                 Wajir  ...                               0
7               Mandera  ...                               0
8                  Lamu  ...                               0
9            West Pokot  ...                             1.5
10              Garissa  ...                               0
11            Kirinyaga  ...                            1.73
12              Baringo  ...                               1
13          Trans Nzoia  ...                            2.33
14              Mombasa  ...                            2.37
15   Elgeyo/\n Marakwet  ...                               2
16              Turkana  ...                               1
17                 Embu  ...                               3
18               Vihiga  ...                            1.36
19             Kakamega  ...                            2.07
20              Kajiado  ...                            1.58
21             Murang’a  ...                            1.57
22                 Meru  ...                            2.76
23               Kiambu  ...                            1.75
24         Nairobi City  ...                            2.63

[24 rows x 6 columns]

In [ ]:
# Converting 2012-AVG-TIME-PER-BRIBE-DEMAND to floats from obj 

average_time_per_bribe_demand['2012-AVG-TIME-PER-BRIBE-DEMAND']=pd.to_numeric(average_time_per_bribe_demand['2012-AVG-TIME-PER-BRIBE-DEMAND'])

In [ ]:
#Dropping the last column because of alot of missing data that could bring disparity 

average_time_per_bribe_demand.drop(labels='2012-AVG-TIME-PER-BRIBE-DEMAND', axis=1, inplace=True)

In [ ]:
average_time_per_bribe_demand.dropna(inplace=True, how='all')


average_time_per_bribe_demand

            County-NAME  ...  2015-AVG-TIME-PER-BRIBE-DEMAND
No.                      ...
1            Tana River  ...                            0.00
2                Migori  ...                            1.00
3                Kilifi  ...                            1.00
4                 Kisii  ...                            2.41
5              Laikipia  ...                            2.17
6                 Wajir  ...                            2.33
7               Mandera  ...                            1.00
8                  Lamu  ...                            1.00
9            West Pokot  ...                            1.50
10              Garissa  ...                            1.77
11            Kirinyaga  ...                            1.29
12              Baringo  ...                            1.35
13          Trans Nzoia  ...                            1.06
14              Mombasa  ...                            1.41
15   Elgeyo/\n Marakwet  ...                            1.00
16              Turkana  ...                            0.00
17                 Embu  ...                            2.53
18               Vihiga  ...                            1.25
19             Kakamega  ...                            1.12
20              Kajiado  ...                            1.00
21             Murang’a  ...                            3.78
22                 Meru  ...                            1.21
23               Kiambu  ...                            1.28
24         Nairobi City  ...                            1.51
25            Nyandarua  ...                            1.71
26                Nandi  ...                            1.00
27               Kisumu  ...                            1.00
28                Nyeri  ...                            1.82
29              Homabay  ...                            1.58
30              Kericho  ...                            1.21
31        Tharaka Nithi  ...                            1.70
32          TaitaTaveta  ...                            1.27
33                Kitui  ...                            1.00
34              Bungoma  ...                            1.19
35                Kwale  ...                            1.93
36               Nakuru  ...                            1.25
37                Siaya  ...                            1.04
38              Makueni  ...                            1.05
39           UasinGishu  ...                            1.00
40              Samburu  ...                            1.00
41             Marsabit  ...                            1.49
42             Machakos  ...                            1.00
43              Nyamira  ...                            1.62
44                Narok  ...                            2.02
45               Isiolo  ...                            1.00
46                Bomet  ...                            2.46
47                Busia  ...                            1.00

[47 rows x 5 columns]

In [ ]:
save_data_set(average_time_per_bribe_demand, 'average_time_per_bribe_demand_final.csv')

            County-NAME  ...  2015-AVG-TIME-PER-BRIBE-DEMAND
No.                      ...
1            Tana River  ...                            0.00
2                Migori  ...                            1.00
3                Kilifi  ...                            1.00
4                 Kisii  ...                            2.41
5              Laikipia  ...                            2.17
6                 Wajir  ...                            2.33
7               Mandera  ...                            1.00
8                  Lamu  ...                            1.00
9            West Pokot  ...                            1.50
10              Garissa  ...                            1.77
11            Kirinyaga  ...                            1.29
12              Baringo  ...                            1.35
13          Trans Nzoia  ...                            1.06
14              Mombasa  ...                            1.41
15   Elgeyo/\n Marakwet  ...                            1.00
16              Turkana  ...                            0.00
17                 Embu  ...                            2.53
18               Vihiga  ...                            1.25
19             Kakamega  ...                            1.12
20              Kajiado  ...                            1.00
21             Murang’a  ...                            3.78
22                 Meru  ...                            1.21
23               Kiambu  ...                            1.28
24         Nairobi City  ...                            1.51
25            Nyandarua  ...                            1.71
26                Nandi  ...                            1.00
27               Kisumu  ...                            1.00
28                Nyeri  ...                            1.82
29              Homabay  ...                            1.58
30              Kericho  ...                            1.21
31        Tharaka Nithi  ...                            1.70
32          TaitaTaveta  ...                            1.27
33                Kitui  ...                            1.00
34              Bungoma  ...                            1.19
35                Kwale  ...                            1.93
36               Nakuru  ...                            1.25
37                Siaya  ...                            1.04
38              Makueni  ...                            1.05
39           UasinGishu  ...                            1.00
40              Samburu  ...                            1.00
41             Marsabit  ...                            1.49
42             Machakos  ...                            1.00
43              Nyamira  ...                            1.62
44                Narok  ...                            2.02
45               Isiolo  ...                            1.00
46                Bomet  ...                            2.46
47                Busia  ...                            1.00

[47 rows x 5 columns]

In [ ]:
#Checking for duplicates 

duplicates(average_time_per_bribe_demand)

County-NAME                       0
2018-AVG-TIME-PER-BRIBE-DEMAND    0
2017-AVG-TIME-PER-BRIBE-DEMAND    0
2016-AVG-TIME-PER-BRIBE-DEMAND    0
2015-AVG-TIME-PER-BRIBE-DEMAND    0
dtype: int64

### Cleaning the third dataset

In [ ]:
#Loading the average time per bribe paid  


#A function for loading the dataset 



average_times_a_bribe_is_paid=load_dataset("average_times_a_bribe_is_paid.csv")

In [ ]:
#Previewing the dataset 

average_times_a_bribe_is_paid

                                                        County  ...  2012
No.                                                             ...
1                                                   Tana River  ...   ***
2                                                       Kilifi  ...  1.35
3                                                        Wajir  ...   ***
4                                                         Lamu  ...   ***
5                                                       Migori  ...     2
6                                                        Kisii  ...  1.64
7                                                       Vihiga  ...  1.29
8                                                     Laikipia  ...  1.54
9                                                      Garissa  ...   ***
10                                                     Mandera  ...   ***
11                                                 Trans Nzoia  ...  1.33
12                                                     Mombasa  ...  1.89
13                                                       Nyeri  ...  1.88
14                                                   Kirinyaga  ...   1.5
15                                                    Murang’a  ...  1.54
16                                                   Nyandarua  ...  1.18
17                                                     Kajiado  ...  1.61
18                                          Elgeyo/\n Marakwet  ...   1.5
19                                                     Turkana  ...     1
20                                                    Kakamega  ...  2.25
21                                                        Embu  ...  1.45
22                                                      Kiambu  ...  1.05
23                                                      Kisumu  ...   1.5
24                                                Nairobi City  ...   2.5
25                                                  West Pokot  ...     1
26                                                     Homabay  ...  1.44
27                                                        Meru  ...  2.11
28                                                TharakaNithi  ...     2
29                                                     Bungoma  ...  1.78
30                                                     Kericho  ...  1.27
31                                                       Kwale  ...  1.31
32                                                     Baringo  ...     1
33                                                       Busia  ...     1
34                                                       Siaya  ...     1
35                                                       Nandi  ...   1.5
36                                                       Kitui  ...  1.34
37                                                  UasinGishu  ...  5.83
38                                                      Nakuru  ...  1.33
39                                                     Makueni  ...  1.31
40                                                 TaitaTaveta  ...     1
41                                                    Machakos  ...  1.33
42                                                     Nyamira  ...  1.85
43                                                       Narok  ...  2.37
44                                                     Samburu  ...  1.71
45                                                       Bomet  ...   1.8
46                                                      Isiolo  ...     1
47                                                    Marsabit  ...     1
Total                                                      NaN  ...  1.68
*** Survey was not conducted in the County                 NaN  ...   NaN

[49 rows x 6 columns]

In [ ]:
#Checking the columns 

average_times_a_bribe_is_paid.columns

Index(['County', '2018', '2017', '2016', '2015', '2012'], dtype='object')

In [ ]:
#Renaming the columns 

average_times_a_bribe_is_paid.columns= ['County-NAME', '2018-AVG-TIME-BRIBE-PAID', '2017-AVG-TIME-BRIBE-PAID', '2016-AVG-TIME-BRIBE-PAID', '2015-AVG-TIME-BRIBE-PAID', '2012-AVG-TIME-BRIBE-PAID']

In [ ]:
#Confirming the renamed columns 

average_times_a_bribe_is_paid.columns

Index(['County-NAME', '2018-AVG-TIME-BRIBE-PAID', '2017-AVG-TIME-BRIBE-PAID',
       '2016-AVG-TIME-BRIBE-PAID', '2015-AVG-TIME-BRIBE-PAID',
       '2012-AVG-TIME-BRIBE-PAID'],
      dtype='object')

In [ ]:
# We replace the aesterics with 0. 


average_times_a_bribe_is_paid.replace('***', 0, inplace=True)


average_times_a_bribe_is_paid

                                                   County-NAME  ...  2012-AVG-TIME-BRIBE-PAID
No.                                                             ...
1                                                   Tana River  ...                         0
2                                                       Kilifi  ...                      1.35
3                                                        Wajir  ...                         0
4                                                         Lamu  ...                         0
5                                                       Migori  ...                         2
6                                                        Kisii  ...                      1.64
7                                                       Vihiga  ...                      1.29
8                                                     Laikipia  ...                      1.54
9                                                      Garissa  ...                         0
10                                                     Mandera  ...                         0
11                                                 Trans Nzoia  ...                      1.33
12                                                     Mombasa  ...                      1.89
13                                                       Nyeri  ...                      1.88
14                                                   Kirinyaga  ...                       1.5
15                                                    Murang’a  ...                      1.54
16                                                   Nyandarua  ...                      1.18
17                                                     Kajiado  ...                      1.61
18                                          Elgeyo/\n Marakwet  ...                       1.5
19                                                     Turkana  ...                         1
20                                                    Kakamega  ...                      2.25
21                                                        Embu  ...                      1.45
22                                                      Kiambu  ...                      1.05
23                                                      Kisumu  ...                       1.5
24                                                Nairobi City  ...                       2.5
25                                                  West Pokot  ...                         1
26                                                     Homabay  ...                      1.44
27                                                        Meru  ...                      2.11
28                                                TharakaNithi  ...                         2
29                                                     Bungoma  ...                      1.78
30                                                     Kericho  ...                      1.27
31                                                       Kwale  ...                      1.31
32                                                     Baringo  ...                         1
33                                                       Busia  ...                         1
34                                                       Siaya  ...                         1
35                                                       Nandi  ...                       1.5
36                                                       Kitui  ...                      1.34
37                                                  UasinGishu  ...                      5.83
38                                                      Nakuru  ...                      1.33
39                                                     Makueni  ...                      1.31
40                                                 TaitaTaveta  ...                         1
41                                                    Machakos  ...                      1.33
42                                                     Nyamira  ...                      1.85
43                                                       Narok  ...                      2.37
44                                                     Samburu  ...                      1.71
45                                                       Bomet  ...                       1.8
46                                                      Isiolo  ...                         1
47                                                    Marsabit  ...                         1
Total                                                      NaN  ...                      1.68
*** Survey was not conducted in the County                 NaN  ...                       NaN

[49 rows x 6 columns]

In [ ]:
#Checking our dtypes 

average_times_a_bribe_is_paid.dtypes

County-NAME                  object
2018-AVG-TIME-BRIBE-PAID    float64
2017-AVG-TIME-BRIBE-PAID    float64
2016-AVG-TIME-BRIBE-PAID    float64
2015-AVG-TIME-BRIBE-PAID    float64
2012-AVG-TIME-BRIBE-PAID     object
dtype: object

In [ ]:
#Converting the  2012-AVG-TIME-BRIBE-PAID into Numeric

average_times_a_bribe_is_paid['2012-AVG-TIME-BRIBE-PAID']=pd.to_numeric(average_times_a_bribe_is_paid['2012-AVG-TIME-BRIBE-PAID'])

In [ ]:
# Confirming the change 


average_times_a_bribe_is_paid.dtypes

County-NAME                  object
2018-AVG-TIME-BRIBE-PAID    float64
2017-AVG-TIME-BRIBE-PAID    float64
2016-AVG-TIME-BRIBE-PAID    float64
2015-AVG-TIME-BRIBE-PAID    float64
2012-AVG-TIME-BRIBE-PAID    float64
dtype: object

In [ ]:
#Checking for duplicates


duplicates(average_times_a_bribe_is_paid)

County-NAME                 2
2018-AVG-TIME-BRIBE-PAID    1
2017-AVG-TIME-BRIBE-PAID    1
2016-AVG-TIME-BRIBE-PAID    1
2015-AVG-TIME-BRIBE-PAID    1
2012-AVG-TIME-BRIBE-PAID    1
dtype: int64

In [ ]:
average_times_a_bribe_is_paid.drop(labels=['Total','*** Survey was not conducted in the County' ], axis=0, inplace=True)

In [ ]:
save_data_set(average_times_a_bribe_is_paid, 'average_times_a_bribe_is_paid_final.csv' )

            County-NAME  ...  2012-AVG-TIME-BRIBE-PAID
No.                      ...
1            Tana River  ...                      0.00
2                Kilifi  ...                      1.35
3                 Wajir  ...                      0.00
4                  Lamu  ...                      0.00
5                Migori  ...                      2.00
6                 Kisii  ...                      1.64
7                Vihiga  ...                      1.29
8              Laikipia  ...                      1.54
9               Garissa  ...                      0.00
10              Mandera  ...                      0.00
11          Trans Nzoia  ...                      1.33
12              Mombasa  ...                      1.89
13                Nyeri  ...                      1.88
14            Kirinyaga  ...                      1.50
15             Murang’a  ...                      1.54
16            Nyandarua  ...                      1.18
17              Kajiado  ...                      1.61
18   Elgeyo/\n Marakwet  ...                      1.50
19              Turkana  ...                      1.00
20             Kakamega  ...                      2.25
21                 Embu  ...                      1.45
22               Kiambu  ...                      1.05
23               Kisumu  ...                      1.50
24         Nairobi City  ...                      2.50
25           West Pokot  ...                      1.00
26              Homabay  ...                      1.44
27                 Meru  ...                      2.11
28         TharakaNithi  ...                      2.00
29              Bungoma  ...                      1.78
30              Kericho  ...                      1.27
31                Kwale  ...                      1.31
32              Baringo  ...                      1.00
33                Busia  ...                      1.00
34                Siaya  ...                      1.00
35                Nandi  ...                      1.50
36                Kitui  ...                      1.34
37           UasinGishu  ...                      5.83
38               Nakuru  ...                      1.33
39              Makueni  ...                      1.31
40          TaitaTaveta  ...                      1.00
41             Machakos  ...                      1.33
42              Nyamira  ...                      1.85
43                Narok  ...                      2.37
44              Samburu  ...                      1.71
45                Bomet  ...                      1.80
46               Isiolo  ...                      1.00
47             Marsabit  ...                      1.00

[47 rows x 6 columns]

### Cleaning the institutions where bribery is prevalent dataset

In [ ]:
#Loading our dataset 

institutions_where_bribery_is_prevalent= pd.read_csv("institutions-where-bribery-is-prevalent.csv", index_col=0)

In [ ]:
# Preview our dataset 

institutions_where_bribery_is_prevalent.head()

                                Bribery Prevalence by percentage
Institution
Registrar of persons                                        19.9
Dispensary / Public Hospitals                               19.7
Regular Police/ Police Station                              17.2
Chief's office/ Village Elder                               16.0
Ministry of Lands                                            6.3

In [ ]:
#Checking for datatypes 
institutions_where_bribery_is_prevalent.dtypes

Bribery Prevalence by percentage    float64
dtype: object

In [ ]:
#Chcking for null Values 



institutions_where_bribery_is_prevalent.isnull().values.any()

False

In [ ]:
#Saving the final institutions where bribery is prevalent dataset 

save_data_set(institutions_where_bribery_is_prevalent, "institutions_where_bribery_is_prevalent_final.csv")

                                       Bribery Prevalence by percentage
Institution
Registrar of persons                                               19.9
Dispensary / Public Hospitals                                      19.7
Regular Police/ Police Station                                     17.2
Chief's office/ Village Elder                                      16.0
Ministry of Lands                                                   6.3
County Government Offices                                           4.7
Huduma Centers                                                      3.7
Ministry of Education                                               2.9
D.O's Office                                                        2.8
Immigration Department                                              1.3
Kenya Power and Lighting Company                                    1.1
Judiciary                                                           0.9
Agricultural Department                                             0.8
National Health Insurance Fund                                      0.7
Kenya Defence Forces                                                0.7
Constituency Development Fund Offices                               0.6
MCA Offices                                                         0.6
Civil Registration                                                  0.5
Kenya Revenue Authority                                             0.5
Kenya Forestry Service                                              0.4
Others                                                              2.2

### CLEANING THE 2019 POPULATION PER COUNTY  DATASET

In [ ]:
# Loading the dataset 
population_per_county=pd.read_csv("2019-population_census-report-per-county.csv")

In [ ]:
# Previewing the data 

population_per_county.head()

            County Total_Population19  ... Pop_change Intersex population 2019
0          Baringo           666,763   ...   111,202                        13
1            Bomet           875,689   ...   151,503                        23
2          Bungoma         1,670,570   ...    39,636                        35
3            Busia           893,681   ...   405,606                        28
4  Elgeyo-Marakwet           454,480   ...    84,482                        12

[5 rows x 11 columns]

In [ ]:
population_per_county.columns

Index(['County', 'Total_Population19', 'Male populatio 2019',
       'Female population 2019', 'Households', 'Av_HH_Size', 'LandArea',
       'Population Density', 'Population in 2009', 'Pop_change',
       'Intersex population 2019'],
      dtype='object')

In [ ]:
#Dropping the columns that we dont need

population_per_county.drop(['Male populatio 2019',
       'Female population 2019', 'Households', 'Av_HH_Size', 'LandArea',
       'Population Density', 'Population in 2009', 'Pop_change',
       'Intersex population 2019'],axis=1, inplace=True)

In [ ]:
#Previewing our dataset 

population_per_county.columns

Index(['County', 'Total_Population19'], dtype='object')

In [ ]:
#Checking datatypes 

population_per_county.dtypes

County                object
Total_Population19    object
dtype: object

In [ ]:
# We replace the aesterics with 0. 


population_per_county= population_per_county.replace(',','', regex=True)

In [ ]:
#Converting  Total_Population19 to numeric 

population_per_county['Total_Population19']=pd.to_numeric(population_per_county['Total_Population19'])

In [ ]:
# Confirming our datatypes 

#Checking datatypes 

population_per_county.dtypes

County                object
Total_Population19     int64
dtype: object

In [ ]:
population_per_county.head()

            County  Total_Population19
0          Baringo              666763
1            Bomet              875689
2          Bungoma             1670570
3            Busia              893681
4  Elgeyo-Marakwet              454480

In [ ]:
#Checking for Null Values 

population_per_county.isnull().values.any()

False

In [ ]:
# Saving the final population per county dataset 

save_data_set(population_per_county, "population_per_county_final.csv")

             County  Total_Population19
0           Baringo              666763
1             Bomet              875689
2           Bungoma             1670570
3             Busia              893681
4   Elgeyo-Marakwet              454480
5              Embu              608599
6           Garissa              841353
7          Homa Bay             1131950
8            Isiolo              268002
9           Kajiado             1117840
10         Kakamega             1867579
11          Kericho              901777
12           Kiambu             2417735
13           Kilifi             1453787
14        Kirinyaga              610411
15            Kisii             1266860
16           Kisumu             1155574
17            Kitui             1136187
18            Kwale              866820
19         Laikipia              518580
20             Lamu              143920
21         Machakos             1421932
22          Makueni              987653
23          Mandera              867457
24         Marsabit              459785
25             Meru             1545714
26           Migori             1116436
27          Mombasa             1208333
28         Murang'a             1056640
29          Nairobi             4397073
30           Nakuru             2162202
31            Nandi              885711
32            Narok             1157873
33          Nyamira              605576
34        Nyandarua              638289
35            Nyeri              759164
36          Samburu              310327
37            Siaya              993183
38     Taita Taveta              340671
39       Tana River              315943
40    Tharaka-Nithi              393177
41      Trans Nzoia              990341
42          Turkana              926976
43      Uasin Gishu             1163186
44           Vihiga              590013
45            Wajir              781263
46       West Pokot              621241

### Cleaning the Counties GCP dataset

In [ ]:
#Loading the dataset 

counties_gcp=pd.read_excel('counties_gcp.xlsx')

In [ ]:
# Previewing our dataset 

counties_gcp.head()

  TABLE 1: Gross County Product (GCP) by Economic Activities, 2017                                                                                                                                                                            Current (KSh million)  ... Unnamed: 20
0                                      Coun- ty Code                                                                                                                                                                                                                 ...       Total
1                                                  1                                                                                                                                                                                                                 ...      332122
2                                                  2                                                                                                                                                                                                                 ...       86278
3                                                  3                                                                                                                                                                                                                 ...      119295
4                                                  4                                                                                                                                                                                                                 ...       33498

[5 rows x 21 columns]

In [ ]:
#checking the columns 

counties_gcp.columns

Index(['TABLE 1: Gross County Product (GCP) by Economic Activities, 2017                                                                                                                                                                            Current (KSh million)',
       'Unnamed: 1', 'Unnamed: 2', 'Unnamed: 3', 'Unnamed: 4', 'Unnamed: 5',
       'Unnamed: 6', 'Unnamed: 7', 'Unnamed: 8', 'Unnamed: 9', 'Unnamed: 10',
       'Unnamed: 11', 'Unnamed: 12', 'Unnamed: 13', 'Unnamed: 14',
       'Unnamed: 15', 'Unnamed: 16', 'Unnamed: 17', 'Unnamed: 18',
       'Unnamed: 19', 'Unnamed: 20'],
      dtype='object')

In [ ]:
#Dropping the unnecessary columns 

counties_gcp_cleaned=counties_gcp.drop(['TABLE 1: Gross County Product (GCP) by Economic Activities, 2017                                                                                                                                                                            Current (KSh million)',
        'Unnamed: 2', 'Unnamed: 3', 'Unnamed: 4', 'Unnamed: 5',
       'Unnamed: 6', 'Unnamed: 7', 'Unnamed: 8', 'Unnamed: 9', 'Unnamed: 10',
       'Unnamed: 11', 'Unnamed: 12', 'Unnamed: 13', 'Unnamed: 14',
       'Unnamed: 15', 'Unnamed: 16', 'Unnamed: 17', 'Unnamed: 18',
       'Unnamed: 19', ], axis=1)

In [ ]:
#Previewing the cleaned dataset 

counties_gcp_cleaned.head()

    Unnamed: 1 Unnamed: 20
0  County Name       Total
1      MOMBASA      332122
2        KWALE       86278
3       KILIFI      119295
4   TANA RIVER       33498

In [ ]:
#Renaming our columns 

counties_gcp_cleaned.columns= ['County Name', 'Total GCP']

In [ ]:
counties_gcp_cleaned_1=counties_gcp_cleaned.drop(labels=0, axis=0, inplace=True)

In [ ]:
counties_gcp_cleaned.head()

  County Name Total GCP
1     MOMBASA    332122
2       KWALE     86278
3      KILIFI    119295
4  TANA RIVER     33498
5        LAMU     32386

In [ ]:
counties_gcp_cleaned

        County Name Total GCP
1           MOMBASA    332122
2             KWALE     86278
3            KILIFI    119295
4        TANA RIVER     33498
5              LAMU     32386
6      TAITA TAVETA     51381
7           GARISSA     39394
8             WAJIR     37159
9           MANDERA     35101
10         MARSABIT     34073
11           ISIOLO     15850
12             MERU    229646
13    THARAKA NITHI     67692
14             EMBU    103734
15            KITUI    101560
16         MACHAKOS    232860
17          MAKUENI    100924
18        NYANDARUA    245203
19            NYERI    174961
20        KIRINYAGA    100836
21          MURANGA    173018
22           KIAMBU    421918
23          TURKANA     78301
24       WEST POKOT     46785
25          SAMBURU     26503
26      TRANS NZOIA    116683
27      UASIN-GISHU    162273
28  ELGEYO MARAKWET    159531
29            NANDI    119691
30          BARINGO     92866
31         LAIKIPIA     81095
32           NAKURU    517462
33            NAROK    179226
34          KAJIADO    107805
35          KERICHO    136799
36            BOMET    159569
37         KAKAMEGA    182563
38           VIHIGA     59050
39          BUNGOMA    183509
40            BUSIA     86712
41            SIAYA     95265
42           KISUMU    194489
43         HOMA BAY    114198
44           MIGORI     96337
45            KISII    163546
46          NYAMIRA    103239
47          NAIROBI   1492323
48              NaN   7524710

In [ ]:
# Saving the final counties_gcp dataset 

save_data_set(counties_gcp_cleaned, "counties_gcp_cleaned_final.csv")

        County Name Total GCP
1           MOMBASA    332122
2             KWALE     86278
3            KILIFI    119295
4        TANA RIVER     33498
5              LAMU     32386
6      TAITA TAVETA     51381
7           GARISSA     39394
8             WAJIR     37159
9           MANDERA     35101
10         MARSABIT     34073
11           ISIOLO     15850
12             MERU    229646
13    THARAKA NITHI     67692
14             EMBU    103734
15            KITUI    101560
16         MACHAKOS    232860
17          MAKUENI    100924
18        NYANDARUA    245203
19            NYERI    174961
20        KIRINYAGA    100836
21          MURANGA    173018
22           KIAMBU    421918
23          TURKANA     78301
24       WEST POKOT     46785
25          SAMBURU     26503
26      TRANS NZOIA    116683
27      UASIN-GISHU    162273
28  ELGEYO MARAKWET    159531
29            NANDI    119691
30          BARINGO     92866
31         LAIKIPIA     81095
32           NAKURU    517462
33            NAROK    179226
34          KAJIADO    107805
35          KERICHO    136799
36            BOMET    159569
37         KAKAMEGA    182563
38           VIHIGA     59050
39          BUNGOMA    183509
40            BUSIA     86712
41            SIAYA     95265
42           KISUMU    194489
43         HOMA BAY    114198
44           MIGORI     96337
45            KISII    163546
46          NYAMIRA    103239
47          NAIROBI   1492323
48              NaN   7524710

### Cleaning the counties allocation dataset

In [ ]:
#Loading the counties allocation dataset 

counties_allocation=pd.read_csv("/content/county-governments-budget-allocation-fy-2017_18.csv", header=5)

In [ ]:
#Previewing the counties allocation dataset 

counties_allocation

    geo_level geo_code  geo_version      county   allocation    total
0      county       30          NaN     Baringo  Development  2659.28
1      county       30          NaN     Baringo    Recurrent  3982.98
2      county       30          NaN     Baringo        Total  6642.26
3      county       36          NaN       Bomet  Development  1812.64
4      county       36          NaN       Bomet    Recurrent  4083.28
..        ...      ...          ...         ...          ...      ...
139    county        8          NaN       Wajir    Recurrent  2525.35
140    county        8          NaN       Wajir        Total  4620.97
141    county       24          NaN  West Pokot  Development  1638.87
142    county       24          NaN  West Pokot    Recurrent  3468.59
143    county       24          NaN  West Pokot        Total  5107.46

[144 rows x 6 columns]

In [ ]:
counties_allocation.columns

Index(['geo_level', 'geo_code', 'geo_version', 'county', 'allocation',
       'total'],
      dtype='object')

In [ ]:
#Dropping columns that we dont need 

counties_allocation=counties_allocation.drop(['geo_level', 'geo_code', 'geo_version', 'allocation'
], axis=1)

In [ ]:
#Previewing the new dataset 

counties_allocation

         county    total
0       Baringo  2659.28
1       Baringo  3982.98
2       Baringo  6642.26
3         Bomet  1812.64
4         Bomet  4083.28
..          ...      ...
139       Wajir  2525.35
140       Wajir  4620.97
141  West Pokot  1638.87
142  West Pokot  3468.59
143  West Pokot  5107.46

[144 rows x 2 columns]

### Cleaning the reasons for bribing dataset

In [ ]:
#Loading the dataset 

reasons_for_bribing=pd.read_csv("/content/reasons-for-paying-bribes-by-county.csv")

In [ ]:
#Previewing the dataset 

reasons_for_bribing

             County It was the only way  ... To access service Was expected
0             Bomet             100.00%  ...             0.00%        0.00%
1           Kericho              94.40%  ...             0.00%        0.00%
2           Garissa              90.80%  ...             0.00%        0.00%
3             Narok              90.60%  ...             0.00%        0.00%
4           Nyamira              85.10%  ...             0.00%        0.00%
5           Makueni              85.00%  ...             1.80%        0.00%
6             Kisii              83.30%  ...             0.00%        0.00%
7           Bungoma              82.10%  ...             0.00%        2.90%
8              Lamu              79.00%  ...            21.00%        0.00%
9          Machakos              77.90%  ...             0.00%        0.00%
10          Baringo              76.60%  ...             0.00%       13.90%
11           Isiolo              76.30%  ...             0.00%        0.00%
12             Embu              69.40%  ...             2.40%        2.40%
13            Wajir              65.40%  ...             2.50%        6.30%
14     Taita Taveta              65.20%  ...             0.00%        0.00%
15         Marsabit              65.20%  ...             0.00%       11.60%
16            Kitui              64.30%  ...             2.80%        0.00%
17          Homabay              64.20%  ...             4.10%       12.50%
18          Mombasa              63.90%  ...             9.30%        0.00%
19           Nakuru              62.70%  ...             0.00%        9.50%
20          Samburu              62.50%  ...             0.00%        0.00%
21           Vihiga              62.20%  ...             9.20%        0.00%
22       Tana River              61.70%  ...             0.00%       38.30%
23          Mandera              61.70%  ...             7.80%        9.20%
24             Meru              61.00%  ...             5.50%        9.60%
25     Nairobi City              59.00%  ...             2.50%        5.60%
26            Kwale              58.90%  ...            15.80%        0.00%
27            Siaya              57.20%  ...             3.60%        3.30%
28          Turkana              55.20%  ...             0.00%       18.30%
29       West Pokot              54.30%  ...             0.00%       16.60%
30           Kilifi              52.60%  ...            12.70%        0.00%
31         Kakamega              52.50%  ...             0.00%        2.10%
32            Busia              52.50%  ...             6.70%       17.20%
33      Uasin Gishu              51.90%  ...             0.00%        7.60%
34           Migori              49.50%  ...             0.00%        5.40%
35      Trans Nzoia              48.20%  ...             0.00%       18.70%
36  Elgeyo/Marakwet              47.50%  ...             0.00%       12.80%
37           Kisumu              41.20%  ...             2.70%       10.00%
38            Nandi              39.80%  ...            17.40%        0.00%
39        Kirinyaga              34.20%  ...             0.00%       21.00%
40        Nyandarua              32.00%  ...             0.00%        0.00%
41          Kajiado              23.10%  ...             1.70%        0.00%
42         Laikipia              21.40%  ...             0.00%        0.00%
43         Murang’a              20.40%  ...             3.00%       10.80%
44           Kiambu              12.80%  ...             0.00%        0.00%
45            Nyeri              10.80%  ...             0.00%        0.00%
46    Tharaka Nithi               8.70%  ...            22.90%        0.00%

[47 rows x 7 columns]

In [ ]:
# Checking the datatypes 


reasons_for_bribing.dtypes

County                                  object
It was the only way                     object
To hasten the process                   object
To avoid problems with authority        object
To avoid paying full cost of service    object
To access service                       object
Was expected                            object
dtype: object

In [ ]:
reasons_for_bribing.columns

Index(['County', 'It was the only way', 'To hasten the process',
       'To avoid problems with authority',
       'To avoid paying full cost of service', 'To access service',
       'Was expected'],
      dtype='object')

In [ ]:
#Specifying the columns 

columns= [ 'It was the only way', 'To hasten the process',
       'To avoid problems with authority',
       'To avoid paying full cost of service', 'To access service',
       'Was expected']

In [ ]:
# Removing the percentage sign

reasons_for_bribing.replace('%','',regex=True, inplace=True)

In [ ]:
reasons_for_bribing.head()

    County It was the only way  ... To access service Was expected
0    Bomet              100.00  ...              0.00         0.00
1  Kericho               94.40  ...              0.00         0.00
2  Garissa               90.80  ...              0.00         0.00
3    Narok               90.60  ...              0.00         0.00
4  Nyamira               85.10  ...              0.00         0.00

[5 rows x 7 columns]

In [ ]:
# Changing the datatypes in the columns to Integers 

for column in columns:

   reasons_for_bribing[column]= pd.to_numeric(reasons_for_bribing[column], errors='coerce')

In [ ]:
# Confirming the change 

reasons_for_bribing

             County  It was the only way  ...  To access service  Was expected
0             Bomet                100.0  ...                0.0           0.0
1           Kericho                 94.4  ...                0.0           0.0
2           Garissa                 90.8  ...                0.0           0.0
3             Narok                 90.6  ...                0.0           0.0
4           Nyamira                 85.1  ...                0.0           0.0
5           Makueni                 85.0  ...                1.8           0.0
6             Kisii                 83.3  ...                0.0           0.0
7           Bungoma                 82.1  ...                0.0           2.9
8              Lamu                 79.0  ...               21.0           0.0
9          Machakos                 77.9  ...                0.0           0.0
10          Baringo                 76.6  ...                0.0          13.9
11           Isiolo                 76.3  ...                0.0           0.0
12             Embu                 69.4  ...                2.4           2.4
13            Wajir                 65.4  ...                2.5           6.3
14     Taita Taveta                 65.2  ...                0.0           0.0
15         Marsabit                 65.2  ...                0.0          11.6
16            Kitui                 64.3  ...                2.8           0.0
17          Homabay                 64.2  ...                4.1          12.5
18          Mombasa                 63.9  ...                9.3           0.0
19           Nakuru                 62.7  ...                0.0           9.5
20          Samburu                 62.5  ...                0.0           0.0
21           Vihiga                 62.2  ...                9.2           0.0
22       Tana River                 61.7  ...                0.0          38.3
23          Mandera                 61.7  ...                7.8           9.2
24             Meru                 61.0  ...                5.5           9.6
25     Nairobi City                 59.0  ...                2.5           5.6
26            Kwale                 58.9  ...               15.8           0.0
27            Siaya                 57.2  ...                3.6           3.3
28          Turkana                 55.2  ...                0.0          18.3
29       West Pokot                 54.3  ...                0.0          16.6
30           Kilifi                 52.6  ...               12.7           0.0
31         Kakamega                 52.5  ...                0.0           2.1
32            Busia                 52.5  ...                6.7          17.2
33      Uasin Gishu                 51.9  ...                0.0           7.6
34           Migori                 49.5  ...                0.0           5.4
35      Trans Nzoia                 48.2  ...                0.0          18.7
36  Elgeyo/Marakwet                 47.5  ...                0.0          12.8
37           Kisumu                 41.2  ...                2.7          10.0
38            Nandi                 39.8  ...               17.4           0.0
39        Kirinyaga                 34.2  ...                0.0          21.0
40        Nyandarua                 32.0  ...                0.0           0.0
41          Kajiado                 23.1  ...                1.7           0.0
42         Laikipia                 21.4  ...                0.0           0.0
43         Murang’a                 20.4  ...                3.0          10.8
44           Kiambu                 12.8  ...                0.0           0.0
45            Nyeri                 10.8  ...                0.0           0.0
46    Tharaka Nithi                  8.7  ...               22.9           0.0

[47 rows x 7 columns]

In [ ]:
#Saving the reasons_for_bribing dataset dataset 


save_data_set(reasons_for_bribing, "reasons_for_bribing_final.csv")

             County  It was the only way  ...  To access service  Was expected
0             Bomet                100.0  ...                0.0           0.0
1           Kericho                 94.4  ...                0.0           0.0
2           Garissa                 90.8  ...                0.0           0.0
3             Narok                 90.6  ...                0.0           0.0
4           Nyamira                 85.1  ...                0.0           0.0
5           Makueni                 85.0  ...                1.8           0.0
6             Kisii                 83.3  ...                0.0           0.0
7           Bungoma                 82.1  ...                0.0           2.9
8              Lamu                 79.0  ...               21.0           0.0
9          Machakos                 77.9  ...                0.0           0.0
10          Baringo                 76.6  ...                0.0          13.9
11           Isiolo                 76.3  ...                0.0           0.0
12             Embu                 69.4  ...                2.4           2.4
13            Wajir                 65.4  ...                2.5           6.3
14     Taita Taveta                 65.2  ...                0.0           0.0
15         Marsabit                 65.2  ...                0.0          11.6
16            Kitui                 64.3  ...                2.8           0.0
17          Homabay                 64.2  ...                4.1          12.5
18          Mombasa                 63.9  ...                9.3           0.0
19           Nakuru                 62.7  ...                0.0           9.5
20          Samburu                 62.5  ...                0.0           0.0
21           Vihiga                 62.2  ...                9.2           0.0
22       Tana River                 61.7  ...                0.0          38.3
23          Mandera                 61.7  ...                7.8           9.2
24             Meru                 61.0  ...                5.5           9.6
25     Nairobi City                 59.0  ...                2.5           5.6
26            Kwale                 58.9  ...               15.8           0.0
27            Siaya                 57.2  ...                3.6           3.3
28          Turkana                 55.2  ...                0.0          18.3
29       West Pokot                 54.3  ...                0.0          16.6
30           Kilifi                 52.6  ...               12.7           0.0
31         Kakamega                 52.5  ...                0.0           2.1
32            Busia                 52.5  ...                6.7          17.2
33      Uasin Gishu                 51.9  ...                0.0           7.6
34           Migori                 49.5  ...                0.0           5.4
35      Trans Nzoia                 48.2  ...                0.0          18.7
36  Elgeyo/Marakwet                 47.5  ...                0.0          12.8
37           Kisumu                 41.2  ...                2.7          10.0
38            Nandi                 39.8  ...               17.4           0.0
39        Kirinyaga                 34.2  ...                0.0          21.0
40        Nyandarua                 32.0  ...                0.0           0.0
41          Kajiado                 23.1  ...                1.7           0.0
42         Laikipia                 21.4  ...                0.0           0.0
43         Murang’a                 20.4  ...                3.0          10.8
44           Kiambu                 12.8  ...                0.0           0.0
45            Nyeri                 10.8  ...                0.0           0.0
46    Tharaka Nithi                  8.7  ...               22.9           0.0

[47 rows x 7 columns]